[2019-05-09 14:19] josehelps opened #5 "Move windows boxes to vagrantcloud"
Today we build them using packer, we need to migrate these to: https://app.vagrantup.com/Microsoft or similar. Then adjust the vagrantfiles and docs.

[2019-05-09 14:39] russnolen opened #6 "Add windows TA to workstation build"
This needs to be built into the workstation image
https://docs.splunk.com/Documentation/WindowsAddOn/6.0.0/User/SourcetypesandCIMdatamodelinfo

[2019-05-13 22:23] josehelps opened #8 "refactor packer build files"
Looks like packer has a ton of extra steps which we do not necessarily need. Lets refactor it to use exactly what we need. For example remove builds for hyperv, and vmware:
https://github.com/splunk/attack_range/blob/develop/Packer/windows_10.json#L4

[2019-05-14 17:34] #5 closed, assigned to josehelps

[2019-05-30 12:59] #6 closed, assigned to nobody

[2019-07-20 18:27] #8 closed, assigned to nobody

[2019-10-22 20:25] rosplk opened #67 "Document virtualenv requirement"
Virtualenv installation needs to be added to the docs

[2019-10-22 20:44] rosplk opened #68 "Ansible vars error"
=> win10: Running provisioner: ansible...
    win10: Running ansible-playbook...
ERROR! vars file ../vars/vars.yml was not found on the Ansible Controller.
If you are using a module and expect the file to exist on the remote, see the remote_src option
Traceback (most recent call last):
  File "attack_range.py", line 179, in <module>
    v1.up(provision=True)
  File "/Users/rsoto/attack_range/venv/

[2019-10-29 13:33] CarlosCabal opened #71 "error attack_range"
INIT - Attack Range v1

starting program loaded for mode - B1 battle droid

  ||/__'`.
  |//()'-.:
  |-.||
  |o(o)
  |||\\  .==._
  |||(o)==::'
   `|T  ""
    ()
    |\
    ||\
    ()()
    ||//
    |//
   .'=`=.

this is not our first run binary directory exists, skipping setup
Traceback (most recent call last):
  File "attack_range.py", line 68, in prep_ansible
    f = open("terraform/terraform.

[2019-10-30 00:48] trogdorsey commented on #71
Good catch. Adding in code to catch exception, display error message, and exit

[2019-10-30 19:09] CarlosCabal opened #72 "Error KeyPair"
aws_instance.splunk-server: Creating...

Error: Error launching source instance: InvalidKeyPair.NotFound: The key pair 'terraform' does not exist
	status code: 400, request id: 2911f96b-b45d-41ad-beae-6670f20bce9d

  on main.tf line 53, in resource "aws_instance" "splunk-server":
  53:  resource "aws_instance" "splunk-server" {

Error: Error launching source instance: InvalidKeyPair.NotFound: The

[2019-10-31 13:37] diskurse commented on #71
Hi, same issue here.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "attack_range.py", line 208, in <module>
    prep_ansible()
  File "attack_range.py", line 88, in prep_ansible
    except e:
NameError: name 'e' is not defined

[2019-10-31 14:28] diskurse commented on #71
Ah I see the problem is that there is not a terraform.tfvars file, didn't realize vagrant was pulling config from there, sorry.

[2019-11-05 00:53] d1vious commented on #71
Its a bit of a mess atm, plan is to refactor into a attack_range config file very soon!

[2019-11-05 00:56] d1vious commented on #72
Carlos might this be related to issue #71 did you create your own copy of https://github.com/splunk/attack_range/blob/develop/terraform/terraform.tfvars.example under `terraform/terraform.tfvars`

[2019-11-07 09:00] CarlosCabal commented on #72
I already have the copy of terraform.tfvars

[2019-11-09 18:11] d1vious commented on #67
added to readme https://github.com/splunk/attack_range#running

[2019-11-09 18:11] #67 closed

[2019-11-25 11:19] P4T12ICK opened #90 "Better feedback and error handling for Atomic Red Team Execution"
Errors in Atomic Red Team Execution are written to stdout instead of stderr. Therefore, the stdout needs to be analyzed regarding failure and reported to the user.

[2019-11-26 11:17] akilbekov opened #94 "Build error"
OS: Fedora 31 5.3.11-300.fc31.x86_64
Vagrant: 2.2.6
VirtualBox: 6.0.14

Followed vagrant/virtualbox configuration page and then tried to build:

[code]
After downloading the windows box it fails.

[2019-11-26 11:26] P4T12ICK commented on #94
@akilbekov I will check it and come back to you today.

[2019-11-26 11:30] P4T12ICK commented on #94
@akilbekov
For me the current develop branch is working. Can you please do the following:
1) remove the not completed build VMs in Virtualbox
2) run: `cd vagrant && vagrant up`
3) share the error message in this thread.
Thank you very much.

[2019-11-26 11:41] P4T12ICK commented on #71
Looks like the error is solved. We refactored the code. It should not happen anymore with the current version.

[2019-11-26 11:41] #71 closed

[2019-11-26 11:42] P4T12ICK commented on #72
@CarlosCabal  please use the newest version of the branch develop, if you still have the problem.

[2019-11-26 11:42] #72 closed

[2019-11-26 11:43] P4T12ICK commented on #68
Problem is solved with the newest version of Attack Range.

[2019-11-26 11:43] #68 closed

[2019-11-26 12:53] akilbekov commented on #94
[code]
OK, so the problem was, that I already had machine with the name 'win10' from other experiments. After renaming, everything works.

[2019-11-26 12:58] #94 closed

[2019-11-26 15:03] P4T12ICK opened #102 "Forward Error Message from Ansible to the user"
Currently, the output is not very good for the user, which want to troubleshoot why his Attack Range had problems.

[2019-12-05 19:52] patel-bhavin opened #119 "ESCU searches uses macros that are not in the range"

[2019-12-06 00:47] patel-bhavin opened #120 "Ansible failure: inconsistent"
While building the range, ansible fails inconsistently. Not exactly sure what the issue is or what's the cause. Adding the complete data dump below
`(venv)  ⚙ bpatel@bpatel-mbp-6bfc0  ~/github/attack_range   macros ●  python attack_range.py -m terraform -a build

starting program loaded for B1 battle droid
          ||/__'`.
          |//()'-.:
          |-.||
          |o(o)
          |||\\

[2019-12-06 03:29] patel-bhavin commented on #119
PR created for this issue, adding a macros.conf and metadata folder for permissions in ansible

[2019-12-06 10:02] P4T12ICK commented on #120
Hello Attack Range User,
unfortunately I was able to reproduce your issue. I deleted the project and cloned it again. I was creating a new virtualenv environment. I didn't have any issues with it.

Maybe it's related to your ssh key or your ssh settings because of this error message:
**Warning: Permanently added '52.37.75.71' (ECDSA) to the list of known hosts.\r\nShared connection to 52.37.75.71

[2019-12-06 21:02] patel-bhavin commented on #120
so i tried building the range today with no changes, and it built successfully. I feel like this issue has something to do with building and destroying the range multiple times in a few minutes since I was testing

[2019-12-06 22:53] rosplk opened #125 "Display IP address of created range instances via terraform"
IP addresses of created instances during range building are printed on CLI and log it would be great to have them besides hostname when executing python attack_range -m terraform ls.

[2019-12-09 17:22] spitzd opened #127 "failed install"
Hi,

I am running 64-bit Windows 10 Pro and having issues during the install process.  I am using;
- VirtualBox-6.0.14-133895-Win
- vagrant_2.2.6_x86_64
- python-3.8.0
Successfully activated venv but when I run **pip install -r requirements.txt**, this errors out with the below.  I have tried in cmd and ps with the same result.  Wondering if you have come across this before.

__VENV_PROMPT__C:\Use

[2019-12-09 18:48] d1vious commented on #127
@spitzd thank you so much for sharing, we done a ton of testing on OSX but not much on win10 to build the environment. Let us do a bit more testing and get back to you.

[2019-12-09 18:51] d1vious commented on #119
@patel-bhavin should we move these macros to be part of the ESCU package instead, that way is shipped OOB https://github.com/splunk/security-content/tree/develop/package

[2019-12-09 19:15] spitzd commented on #127
@d1vious thank you! The install went perfectly on my Mac but since I only have 16GB RAM, it really slows down my machine. As such, I’m trying to run this on my Win 10 machine which has 32GB RAM

[2019-12-09 19:26] patel-bhavin commented on #127
@spitzd : hey man, did some quick googling on the issue and seems like Ansible is not supported on Windows Platform. You can find more information on the ansible website:

https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#control-node-requirements -> look for "Windows"

Hope this helps. Closing this issue for now!

[2019-12-09 19:26] #127 closed

[2019-12-09 19:27] patel-bhavin commented on #127
going to update the README have an explicit note that it works only on nix* systems

[2019-12-13 22:39] lstmfx opened #141 "Ansible Failure: ESCU REST API Installation Failure"
Just pulled down the latest from attack_range and attempt to run a generic build using the build action and got stopped on ECSU app installation through the REST API since there was a connection refused for the splunk instanced installed on the VM. I enabled boot-on-start for splunk and restart through the ansible roles but that didn't seem to resolve the installation issue 😅.
Any suggestions for

[2019-12-16 21:19] d1vious opened #145 "Create more granular permissions for AWS CLI account"
Today the project recommends for user to use the Administrative account role. This is too open, it should instead be more granular. https://github.com/splunk/attack_range/wiki/Configure-Attack-Range-for-Terraform#notes

[2019-12-16 21:20] d1vious commented on #119
this was worked into ESCU

[2019-12-16 21:20] #119 closed

[2019-12-16 21:42] d1vious commented on #141
@lstmfx my first suggestion would be to increate the timeout here https://github.com/splunk/attack_range/blob/develop/ansible/roles/search_head/tasks/install_escu_app.yml#L23 to maybe 300 and try it again. Although the error says connection refuse instead of timeout. Alternative, I would attempt doing the local POST request via curl yourself and see the response from that. To do this:
1. log into

[2019-12-18 23:44] patel-bhavin opened #151 "All apps should "maybe" global permisions"
for attack_range to work with ESCU, ASX and all other apps. we should perhaps have all apps to have global permissions since we .conf file configurations from various Splunk apps

[2019-12-19 09:12] P4T12ICK commented on #151
I'm working on that. The branch search_command contains it that the role admin contains all the indexes as default indexes.

[2019-12-21 23:43] lstmfx commented on #141
Turned out to be a resource and timeout issue 😅.  I upped the timeout and it got the app to install. Thanks for the support! :)

[2019-12-21 23:43] #141 closed

[2019-12-23 10:24] P4T12ICK commented on #120
I think this bug is fixed. Thank you for your support.

[2019-12-23 10:24] #120 closed

[2019-12-23 10:28] P4T12ICK commented on #125
Thank you for your great feedback. The IP addresses are displayed by running `python attack_range.py -a terraform -lm`

[2019-12-23 10:28] #125 closed

[2019-12-23 10:31] P4T12ICK commented on #151
Hello, can you be a little bit more specific. I think most of the configurations in the apps ESCU, ASX have already global permission. Based on feedback, I changed that all indexes are added as default indexes. I'm not sure if we should implement these changes into ESCU or ASX, instead of Attack Range. Let me know your opinion.

[2020-01-20 18:48] sescandor opened #187 "Adding more detail to vagrant config wiki"
For step #1 of https://github.com/splunk/attack_range/wiki/Configure-Attack-Range-for-Vagrant#vagrant-configuration it would be great to add a bit more detail for installing virtualbox for osx. Specifically, vagrant only runs with specific versions of virtualbox (latest is 6.0 that works well), however, brew cask install uses virtualbox 6.1.

[2020-01-22 01:24] d1vious commented on #187
@sescandor thank you so much, let me circle back with the team and work on better docs for this.

[2020-01-27 16:16] d1vious opened #206 "Error when resuming if instances do not exist"
When machines are not created, and resume is called it errors out, with the following message instead of letting the user know there are no known instance available to resume.
[code]

[2020-01-27 20:58] philroyer-phantom opened #208 "http timeout error on successful build"
I am just doing a normal build from a fresh repo clone:
```python attack_range.py -m terraform -a build```

It all seems to work, with the last log messages being:
[code]

However there is an error at the end that seems to be a non-fatal failure:
```Error: timeout - last error: http response error: 401 - invalid content type```

I don't know which step that is from, or what the HTTP request is.

T

[2020-01-28 08:17] P4T12ICK commented on #208
Hi Phil, I was not able to reproduce the failure.
Can you check where that failure comes from and provide more information? Is it a failure from terraform or ansible?
Can you provide your terraform version?

[2020-01-28 15:45] philroyer-phantom commented on #208
The problem was my password didn't meet Windows default password policy. I updated the terraform instructions to include a link to the policy and now I'll close this.

[2020-01-28 15:45] #208 closed

[2020-01-30 14:20] dependabot-preview[bot] opened #212 "Dependabot couldn't find a Pipfile for this project"
Dependabot couldn't find a Pipfile for this project.

Dependabot requires a Pipfile to evaluate your project's current Python dependencies. It had expected to find one at the path: `/requirements.txt/Pipfile`.

If this isn't a Python project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[View the update logs](https://app.dependab

[2020-01-31 12:06] #90 closed

[2020-02-01 16:24] #102 closed

[2020-02-03 21:31] jzsplunk opened #213 "MLTK is not loaded as an available app in Splunk Attack Range instances"
MLTK and its dependency python for scientific computing are not loaded as available TAs when we bring up a new splunk instance int the attack range.

[2020-02-03 21:56] rvaldez617 commented on #213
Just 2 things -
1) Python for scientific computing should be installed first, and is architecture specific.
2) MLTK is installed as part of ES versions >= 6.0, so this should be an either/or with ES

[2020-02-04 23:12] jzsplunk opened #214 "Atomic Red Team T1071 does not terminate on attack range windows instance"
python attack_range.py -m terraform -a simulate -st T1071 -t attack-range-windows-domain-controller is failing in a weird state and not returning or timing out.  I am on the latest bits and still running into the issue after testing a few different times to make sure it was not something particular about my local config.

[2020-02-04 23:44] jzsplunk commented on #214
Timeout seems to be working now on the latest develop branch closing this as a non-issue.

[2020-02-04 23:44] #214 closed

[2020-02-04 23:49] jzsplunk opened #215 "Feature request: add configurable timeout delays exiting failed atomic red team tests"
One of the atomic red team tests seems to take upwards of 30 minutes to terminate in my testing.  Not necessarily an issue but just want to make a feature request on maybe being able to configure in attack.conf the length of time we wait until we time out the state of the test (if thats even possible).  Timestamps show beginning and end of execution of T1071 in my local testing:

Start: 2020-02-04

[2020-02-05 04:33] d1vious commented on #187
Hey we added the specific commands for OSX and also a note about working with Vagrant. Hope [this reads](https://github.com/splunk/attack_range/wiki/Configure-Attack-Range-for-Vagrant#vagrant-configuration) better.

[2020-02-05 04:33] #187 closed

[2020-02-06 17:41] philroyer-phantom opened #218 "Feature request: make Splunk server an optional component"
Now that we have Phantom, Kali, and multiple Windows instances, we might want to enable a build that does not include the splunk server. This would make it faster to test Phantom-only workflows. We could use a similar environment variable of 1 or 0 to enable or disable splunk.

[2020-02-06 20:35] d1vious commented on #215
@jzsplunk chatted a bit with the atomic red team group and it seems that this might be due to the fact that we do not configure out the box the technique and set a valid domain name instead of `example.com`: https://github.com/redcanaryco/atomic-red-team/blob/master/atomics/T1071/T1071.yaml#L79 and thus you have 1000 request time out. This is likely what is delaying that test. For now we would hav

[2020-02-08 18:24] reswob10 opened #219 "Feature Request: List support OS"
As I was having problems installing the attack_range on my Win10 host, I started googling the errors I was having and it appears that ansible is not supported on Win10 (or any windows).

If that is true, it would have helped to have a list of supported OS on the wiki.

OTOH, if this SHOULD install on a Win10 host, here is the error I get when I run the last part of the install command (this is ins

[2020-02-13 12:21] leirissa opened #220 "Vagrant - step splunk apps> FAILED! => {"msg": "The task includes an option with an undefined variable"
TASK [search_head : Check if python app exists] ********************************
ok: [attack-range-splunk-server]

TASK [search_head : download Python app from S3 bucket] ************************
fatal: [attack-range-splunk-server]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'splunk_python_app' is undefined\n\nThe error appears to be in '/home/homela

[2020-02-13 17:14] rvaldez617 commented on #220
There was a mis-named variable in the code. This has been fixed and should work properly now. Thanks to leirissa for quickly reporting this issue!

[2020-02-13 17:14] #220 closed

[2020-02-18 00:21] d1vious opened #222 "default file has a pre-calculated hash value"
Should this be blank?
https://github.com/splunk/attack_range/blob/69425a33ee2d496c4a6558693a372682ab4f8752/default/attack_range.conf.default#L4

[2020-02-18 06:12] P4T12ICK commented on #222
It should be blank or a default value. I will fix that.

[2020-02-18 06:14] P4T12ICK commented on #219
We are mainly using Mac or Linux to use the Attack Range. Have you been successful by using the Windows 10 linux subsystem?

[2020-02-21 18:54] federico22285 opened #228 "Installation fails - MacOS - Catalina 10.15.3"
Hi Guys,

Love the idea behind this project, from my side I get the feeling that there is no enough information as what versions exactly do I need to have of everything for this to run properly. You said in the documentation that this was tested in MacOS and Linux, it would be great to understand exactly what system was this tested on and all the software versions. A quick example of the errors I

[2020-02-21 19:13] d1vious commented on #228
@federico22285 thank you for the feedback I am happy you enjoy the concept. Now as to your bug, it seems the error is not exactly related to the attack_range cli command eg `attack_range.py` but something with the Ansible logic that is erroring out. Specifically it seems like it is having an issue trying to download Splunk eg
[code]
You should be able to built this just using vagrant and Ansible,

[2020-02-21 22:22] #145 closed

[2020-02-23 22:23] federico22285 commented on #228
@d1vious Thanks for your feedback, please see below.

`(attack_virtual) bash-3.2$ vagrant up
Bringing machine 'attack-range-splunk-server' up with 'virtualbox' provider...
Bringing machine 'attack-range-domain-controller' up with 'virtualbox' provider...
==> attack-range-splunk-server: Checking if box 'generic/ubuntu1804' version '2.0.6' is up to date...
==> attack-range-splunk-server: Clearing an

[2020-03-02 08:01] powermundsen opened #231 "Error launching source instance - This version has been removed and is no longer available to new customers."
When I run the terraform version of attack range I cannot accept the terms and subscribe due to the ubuntu image not being available for new customers any longer (https://aws.amazon.com/marketplace/pp?sku=6l278ltstzlu1yvlpd3h8kdkq).

Error launching source instance: OptInRequired: In order to use this AWS Marketplace product you need to accept terms and subscribe. To do so please visit https://aws

[2020-03-02 08:24] P4T12ICK commented on #231
Hello,

can you do the following changes under terraform/modules/splunk-server/resources.tf:

from:
owners = ["679593333241"]

to:
owners = ["099720109477"]

Let me know if that will fix the issue. We will work on that to get it fixed.

Best regards,
Patrick

[2020-03-02 16:54] reswob10 commented on #219
Sorry I haven't responded to this....
I'm going to try and re-install on a linux box.  I will try the Win 10 subsystem as well....

You can close this if you like, I just thought it would be nice in the readme to say Win10 not supported...

[2020-03-02 17:07] #219 closed

[2020-03-03 00:31] #213 closed

[2020-03-04 11:44] aunraza opened #233 "Ubuntu + Vagrant build fails at ES post-install setup"
Hello, when enabling ES install, I get the following error:

``TASK [search_head : Run es post-install setup] *********************************
fatal: [attack-range-splunk-server]: FAILED! => {"changed": true, "cmd": ["/opt/splunk/bin/splunk", "search", "| essinstall", "-auth", "admin:*****"], "delta": "0:00:01.608341", "end": "2020-03-04 11:43:12.291611", "msg": "non-zero return code", "rc": 17,

[2020-03-04 11:48] P4T12ICK commented on #233
Hello,

I'm happy that you already try our newest features :-)
Did you store the ES spl file into the apps folder? Which version of ES did you use?

[2020-03-04 11:51] aunraza commented on #233
Hi, yes, it was 6.10, and it was in the apps folder. It did copy fine, and even seemed to have installed based on the ansible output. It was just the post-install setup that seemed to fail:

TASK [search_head : Copy enterprise security to server] ************************
ok: [attack-range-splunk-server]

TASK [search_head : Install es app via REST] ***********************************
ok: [attack-r

[2020-03-04 11:55] P4T12ICK commented on #233
Hi, Enterprise Security version 6.10 needs Splunk Enterprise version 8. The Attack Range uses default the version 7.3.2. Can you test it with ES 5.3.1? We are working on updating the Attack Range to Splunk 8 and the latest ES release.

[2020-03-04 11:57] aunraza commented on #233
ah okay! good to know! i'll check and get back to you.

[2020-03-04 16:44] rvaldez617 opened #234 "Packer does not honor aws region specified in attack_range.conf"
Packer appears to create the instances and associated AMIs in the region specified as the default in awscli.

[2020-03-04 19:39] d1vious commented on #228
ah that is actually an error caused by ansible and OSX .. you can see a bit more about the bug here: https://github.com/ansible/ansible/issues/34056 .. a quick work around is simply exporting the following variable before running the attack range `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`. Although if I am not mistaken we should/were doing this as part of the `attack_range.py` CLI command. L

[2020-03-05 03:58] aunraza commented on #233
Seems 5.3 works, at least for the ES install. Apologies for the delayed update - was having other issues.

[2020-03-06 08:24] aunraza opened #236 "Failure to change hostname for domain controller."
Hello, I'm getting an exception error when running the python vagrant build. The following is the error I get for the Windows Domain Controller:

[code]

[2020-03-06 08:37] P4T12ICK commented on #236
Hi, after you run the build command, the vagrant file is generated. Then (when it fails), you can cd into the vagrant folder and execute: vagrant up
Please post the error message here. Thank you.

[2020-03-06 08:52] P4T12ICK commented on #233
Thank you for your feedback.

[2020-03-06 08:52] #233 closed

[2020-03-06 09:12] aunraza commented on #236
When I run vagrant up, it skips past the domain controller, and moves on to the next machine. However, when I do vagrant --provision attack-range-domain-controller, I get the following error:

`
vagrant# vagrant provision attack-range-domain-controller
==> attack-range-domain-controller: Running provisioner: ansible...
    attack-range-domain-controller: Running ansible-playbook...

PLAY [all] ***

[2020-03-06 09:16] P4T12ICK commented on #236
Okay this is weird. What changes did you do in attack_range.conf? Did you destroy the Attack Range before building it again? If not, can you try to do this?

[2020-03-06 09:33] aunraza commented on #236
Yeah, it is weird. I did try to destroy it, actually thinking that it may be a "user" related issue, switched to the root account with a fresh git clone. Here are the versions I'm running if it helps:

- OS: Ubuntu Desktop 18.04.1 (updated)
- VirtualBox: 6.1.4 r136177 (Qt5.9.5)
- Vagrant: 2.2.7
- Ansible: 2.9.2
- Python: 3.6.9

I did change the attack_range.conf - here are the changes I made:

1.

[2020-03-06 09:54] P4T12ICK commented on #236
For me it looks like that the windows domain controller was not destroyed successful because the default vagrant boxes have the user password combination vagrant:vagrant and then during build we change the password to the password defined in the .conf file. When you then build it again, it can't connect anymore with vagrant:vagrant and it fails. Can you ensure that the machines are completely dest

[2020-03-06 09:59] aunraza commented on #236
Alright. Let me try that. Will report back.

On Fri, Mar 6, 2020, 13:54 P4T12ICK <notifications@github.com> wrote:

[2020-03-06 11:20] aunraza commented on #236
While the previous script was going on, an error popped up around the windows server only accepting certain characters in the hostname, so I checked the Vagrantfile and noticed that there was an underscore. I changed that to a hyphen, and then ran the build script again.

I also went ahead and destroyed the domain controller only, and then re-ran the python build script. This time it seems to have

[2020-03-06 11:21] aunraza commented on #236
Also, the hyphen was not in the domain-controller hostname, but the other windows server - it was named win_server. I renamed it to win-server.

[2020-03-06 11:47] powermundsen commented on #231
Hi

The change worked well.

Thanks,

André

[2020-03-06 11:56] P4T12ICK commented on #231
Awesome thank you.

[2020-03-06 11:56] #231 closed

[2020-03-06 11:57] P4T12ICK commented on #236
Thank you for this feedback and thank you for making attack range better. We will fix this as soon as possible.

[2020-03-06 12:41] P4T12ICK commented on #218
I think because of so many dependencies, this is not a good idea and would it make a lot more complicated then implement it for other components. With the latest Phantom branch, Phantom is built anyway as the first machine.

[2020-03-06 12:42] P4T12ICK commented on #222
This is fixed.

[2020-03-06 12:42] #222 closed

[2020-03-06 12:43] P4T12ICK commented on #151
I think this needs to be fixed in the apps and not in the Attack Range.

[2020-03-06 12:43] #151 closed

[2020-03-06 12:46] P4T12ICK commented on #234
The specified region in Attack Range and awscli needs to be always the same. Otherwise a bunch of functions are not working properly. I will check our docs, if we make that clear during installation.

[2020-03-06 18:47] rvaldez617 commented on #234
Roger that. For what it's worth, I had no issues with terraform mode, just packer.

[2020-03-07 11:00] aunraza commented on #236
This seems to be working now... now the windows 10 machine is still having issues. Cleaned up everything, and then cloned the git repo again, made the modifications to the conf file.

Now seeing the following:

[code]

[2020-03-07 15:45] aunraza commented on #236
If I use vagrant up for each machine that failed due to the python script, will the setup still work? Or do I have to use the python script to make the entire range work?

[2020-03-08 18:21] aunraza opened #238 "Vagrant unable to SSH to Kali"
Hello, after running the build script, and it failing multiple times to bring up different machines, I ended up doing vagrant up manually for every machine. When I got to the Kali machine, it seems that it is able to bring it up, but for some reason the machine has two ethernet interfaces eth0 and eth1. Vagrant is assigning eth0 the 10.0.1.8 IP address, however, it is unable to reach the 10.0.1.1

[2020-03-09 12:14] jzsplunk opened #239 "Add Splunk Stream TA to Attack Range Deployment"

[2020-03-10 17:50] d1vious commented on #228
added this as part of the CLI https://github.com/splunk/attack_range/blob/develop/attack_range.py#L14

[2020-03-10 17:50] #228 closed

[2020-03-10 18:59] fwijnholds opened #244 "Instance Ubuntu 18 (Ubuntu 18.04 LTS) Minimal - no longer available."
The BattlDroid reports the following:

`Error: Error launching source instance: OptInRequired: In order to use this AWS Marketplace product you need to accept terms and subscribe. To do so please visit https://aws.amazon.com/marketplace/pp?sku=6l278ltstzlu1yvlpd3h8kdkq
	status code: 401, request id: 9ed5c5b0-e48f-4f4c-af0d-71dc6302bc6d`

When I follow the URL it get the message:
`This version has

[2020-03-19 13:25] akjhhauyo956dhhv05 commented on #244
same

[2020-03-19 13:27] P4T12ICK commented on #244
Did you use the latest version of the Attack Range?

[2020-04-03 17:07] #206 closed

[2020-04-06 14:50] #212 closed

[2020-04-09 14:39] s-koniarz opened #248 "Windows Domain Controller Fails to build"
When running terraform or packer fails to build the windows domain controller using the default config.

### Packer
#### us-east-2
[code]
#### us-west-2
[code]

### Terraform
[code]

[2020-04-09 14:55] P4T12ICK commented on #248
Thank you very much for the feedback. I think I found the issue. Can you try to use the following values in attack_range.conf
...
windows_domain_controller_os = Windows_Server-2016-English-Full-Base-*
...
windows_server_os = Windows_Server-2016-English-Full-Base-*
...

I'm testing in parallel.

[2020-04-09 15:10] s-koniarz commented on #248
Testing now as well

[2020-04-09 15:18] P4T12ICK commented on #248
It worked for me. If it also worked for youthen I will turn it into a bug fix branch and create a pull request.

[2020-04-09 15:38] s-koniarz commented on #248
It worked for me as well.

[2020-04-09 15:47] P4T12ICK commented on #248
Thank you for your feedback. I will turn this into a Pull Request.

[2020-04-09 15:56] #248 closed

[2020-04-13 21:34] ropuf opened #250 "subprocess error while booting up"
(venv) root@ubuntu:~/attack_range# python3 attack_range.py -m vagrant -a build

starting program loaded for B1 battle droid
          ||/__'`.
          |//()'-.:
          |-.||
          |o(o)
          |||\\  .==._
          |||(o)==::'
           `|T  ""
            ()
            |\
            ||\
            ()()
            ||//
            |//
           .'=`=.

attack_range is using conf

[2020-04-15 10:10] P4T12ICK commented on #250
Sorry for my late reply. Can you please cd into vagrant folder and run vagrant up and share the error message in this thread. Thank you.

[2020-04-15 10:11] P4T12ICK commented on #244
I think this problem is solved, isn't it. I will keep it open for two days and then close it.

[2020-04-15 10:12] P4T12ICK commented on #238
Sorry for the late reply. Do you still have this problem?

[2020-04-15 10:13] P4T12ICK commented on #236
The python script will prepare all the variables. Afterwards you could also run it with vagrant up.

[2020-04-15 10:14] #234 closed

[2020-04-15 11:05] aunraza commented on #238
Don't recall - been a while. Actually gave up after trying quite a bit.
Will try again at some point.

On Wed, Apr 15, 2020, 14:12 P4T12ICK <notifications@github.com> wrote:

[2020-04-15 12:20] d1vious commented on #239
This was completed by @jzsplunk

[2020-04-15 12:20] #239 closed

[2020-04-16 07:34] fwijnholds commented on #244
I haven't tested with the new release, will try. Closed !

[2020-04-16 07:34] #244 closed

[2020-04-16 08:10] dlamspl commented on #215
The new version will have builtin feature for timeouts and other cool stuff.
https://redcanary.com/blog/invoke-atomicredteam-leaves-the-nest/

[2020-04-16 15:23] P4T12ICK commented on #238
Okay let me know. For me it was working. I will close the issue. Let's create a new one if it's still not working.

[2020-04-16 15:23] #238 closed

[2020-04-16 21:40] ropuf commented on #250
(venv) root@biometric-Vostro-3470:~/attack_range# python attack_range.py -m vagrant -a build

starting program loaded for B1 battle droid
          ||/__'`.
          |//()'-.:
          |-.||
          |o(o)
          |||\\  .==._
          |||(o)==::'
           `|T  ""
            ()
            |\
            ||\
            ()()
            ||//
            |//
           .'=`=.

attack_range

[2020-04-17 07:51] P4T12ICK commented on #250
This is a weird issue. You use Ubuntu 18.04 as OS? Which vagrant version do you use? Which ansible version do you use? We will today release a new version which do some bug fixes in vagrant, can you try the to update to the latest state as of tomorrow? Do you always run a destroy before you try to build the attack range again?

[2020-04-17 19:51] ropuf commented on #250
fine.after i destroyed previous attack it ran but

a new error here
starting program loaded for B1 battle droid
          ||/__'`.
          |//()'-.:
          |-.||
          |o(o)
          |||\\  .==._
          |||(o)==::'
           `|T  ""
            ()
            |\
            ||\
            ()()
            ||//
            |//
           .'=`=.

attack_range is using config at path a

[2020-04-18 15:31] ropuf opened #254 "HTTP Error access forbidden"
(venv) root@biometric-Vostro-3470:~/attack_range# python3 attack_range.py -m vagrant -a destroy

starting program loaded for B1 battle droid
          ||/__'`.
          |//()'-.:
          |-.||
          |o(o)
          |||\\  .==._
          |||(o)==::'
           `|T  ""
            ()
            |\
            ||\
            ()()
            ||//
            |//
           .'=`=.

attack_ra

[2020-04-20 07:42] P4T12ICK commented on #254
That was our fault. I'm sorry. We updated the app and forgot to make it public. Can you try again? Thank you very much.

[2020-04-20 15:52] d1vious commented on #254
We changed policies in our s3 bucket to avoid this in the future. Thank you!

[2020-04-20 15:52] #254 closed

[2020-04-20 15:55] d1vious commented on #250
@ropuf mind sharing with us the full execution command? Also the output of `python attack_range.py -m <whatmode you used> -lm`. For example

[code]

[2020-04-27 15:42] d1vious opened #257 "Support Linux and MacOS attack simulations"
https://redcanary.com/blog/invoke-atomicredteam-leaves-the-nest/

Looks like the updated execution framework supports this.

[2020-04-29 19:49] d1vious opened #258 "sysmon v11.0 is crashing on vagrant server builds"
Looks like sysmon was updated yesterday 4/28/2020 and latest release is crashing in vagrant windows server/domain controller image:

[code]

[2020-04-29 20:51] #258 closed

[2020-04-30 07:34] julianwieg opened #260 "PiP crashing out - ubuntu"
Hello,
when I run  pip install -r requirements.txt    I get the following error. After some more reading troubleshooting I know the package that is causing the error is psutil  and trying to install older/newer version generates different error messages but smells always like compile errors.

---------------------------------------------
...
Collecting path.py==12.4.0
Collecting zipp==0.6.0
  Usin

[2020-04-30 12:39] julianwieg commented on #260
FIX. You need python DEV so
`sudo apt-get install python3.6-dev`

Then install = works

[2020-04-30 13:01] #260 closed

[2020-04-30 13:02] julianwieg opened #261 "vagrant build not working"
Hello,

not a python dev but when vagrant is used the terraform modules are loaded and the code bombs out....   Then I comment out the terraform module import and the vagrant bombs out.

Should the modules not all be in the library and just work?

`user@ubuntu1:~/attack_range$ python attack_range.py -m vagrant -a build
Traceback (most recent call last):
  File "attack_range.py", line 7, in <module

[2020-04-30 14:07] d1vious commented on #261
do you mind retrying to configure [vagrant](https://github.com/splunk/attack_range/wiki/Configure-Attack-Range-for-Vagrant) .. looking at the output it seems like either libraries were not installed eg: `pip install -r requirements.txt` or currently on the wrong virtualenv. But see **step 2** on [pre-reqs in the doc](https://github.com/splunk/attack_range/wiki/Configure-Attack-Range-for-Vagrant#pr

[2020-04-30 16:28] julianwieg commented on #261
dumb me. Maybe update your documentation for noobs; maybe I should write a guide if I get it working later also :)

1. In Ubuntu the pip could not install psutil from requirements.txt   -> failed.
2. This can be fixed by installing python-dev = sudo apt-get install python3.6-dev
3. I earlier manually installed psutil but not in the virtualenv enviroment
4. I also executed the attack range script o

[2020-04-30 20:17] julianwieg opened #262 "Kali build hangs script"
Hi,
sorry me again. I think everything works nearly (literally spend 1,5 hour on this in 5 hours while cooking, daughter into bed, etc.)
Servers build: Splunk, Win DC, Win10, Win server

**But Kali gets stuck for some reason.**   Login with vagrant user works aka VM is up and running

Kali int:
[code]
[code]

[2020-05-01 08:33] julianwieg commented on #262
Well I destroyed and rebuild and this time it worked.

[2020-05-01 08:33] #262 closed

[2020-05-01 14:19] d1vious opened #263 "Terraform Build failure `Error: Failure associating EIP: InvalidParameterCombination`"
[code]

adding `vpc=true` seemed to have fixed it..found suggestion on:  https://stackoverflow.com/questions/44118175/failure-associating-eip-invalidparametercombination-you-must-specify-an-alloca

[2020-05-04 23:53] s1nglethr3ad opened #264 "Question on how to solve this?"
`(venv):attack_range user$ sudo python3 attack_range.py -m vagrant -a build

attack_range is using config at path attack_range.conf
2020-05-04 19:43:00,652 - INFO - attack_range - INIT - attack_range v1
2020-05-04 19:43:00,658 - INFO - attack_range - [action] > build

Bringing machine 'attack-range-splunk-server' up with 'virtualbox' provider...
==> attack-range-splunk-server: Box 'generic/ubuntu1

[2020-05-12 09:08] L0ranCyb opened #266 "Malware detect in attack_range_develop.zip"
Hello,
Trojan Occamy.C detect by Windows Defender in attack_range-develop/ansible/roles/windows_domain_client/files/puttyX.exe

[2020-05-12 09:18] P4T12ICK commented on #266
Hi, Windows Defender is right.
The file puttyX.exe is a backdoored version of putty.exe. During execution, it will establish a reverse shell to the internal Kali Linux. We use this file for a complete attack scenario demo with Attack range. By enabling run_demo = 1 in the attack_range.conf, everybody can use this demo. We still have to write some documentation about it.

[2020-05-12 09:18] #266 closed

[2020-05-12 09:20] P4T12ICK commented on #264
Hi, can you try to delete the VirtualBox Machine attack-range-splunk-server and try it again?

[2020-05-13 00:33] #218 closed

[2020-05-15 08:48] L0ranCyb commented on #266
Ok, thanks.

[2020-05-15 20:06] #264 closed

[2020-05-22 17:26] d1vious commented on #263
haven't experienced this again, closing for now.

[2020-05-22 17:26] #263 closed

[2020-05-22 17:36] d1vious commented on #261
@julianwieg updated the wiki to include your guide, thank you so much for that!

[2020-05-22 17:36] #261 closed

[2020-06-04 17:43] d1vious commented on #215
the following technique currently does not work `python attack_range.py -m terraform -a simulate -st T1086 -t attack-range-windows-domain-controller` just hangs during execution.

[2020-06-21 12:20] #236 closed

[2020-06-22 21:23] Karma1331 opened #287 "Host VM freezes during setup"
I'm working on standing up attack range with vagrant and the host VM comes to a dead halt right after printing the following. Any idea what I can do to troubleshoot?
![image](https://user-images.githubusercontent.com/61952449/85336701-adb24880-b4a4-11ea-8205-e996c525a384.png)

[2020-06-23 06:45] P4T12ICK commented on #287
Hi, what OS do you use and which version of virtualbox? At one point, I had similar issues with some virtualbox version on MacOS.

[2020-06-23 19:24] Karma1331 commented on #287
Hi there,

This is a CentOS 8.0 VM running on a VirtualBox 6.1.6. Inside that CentOS VM is where I am using vagrant to build attack range, the version of VirtualBox inside the VM is 6.0.22.

[2020-06-25 22:01] #287 closed

[2020-06-25 22:04] Karma1331 commented on #287
Did not fix it, just moving over to another VM (Ubuntu) and using that. Thanks for the response |* A 7 R 1 ( |(

;)

[2020-06-26 20:16] #250 closed

[2020-06-26 22:07] Karma1331 opened #290 "Vagrant abstract class error"
Do you have any insight as to what I need to do when faced with this message? I'm still learning Python to troubleshoot it but any insight would be appreciated.

![image](https://user-images.githubusercontent.com/61952449/85904849-693dea00-b7cf-11ea-81eb-6668d6c070f9.png)

[2020-06-30 21:31] mrpappagiorgio commented on #290
I am receiving the same error....

[2020-07-01 08:16] P4T12ICK commented on #290
we are preparing a new release for today and that issue should be fixed. Thanks for reporting.

[2020-07-03 16:56] #257 closed

[2020-07-07 10:22] powermundsen opened #292 "Problem with Caldera and the Operations function"
I'm having a problem with Operations in caldera. I have made sure that there is an agent running on the machine and that the desired adversary contains a few different tactics. But when I try to run the Operation no tactics are added and Caldera ends up not running anything. Is there a problem with the version of Caldera since it says "no version" in the top right corner, or am I doing something w

[2020-07-07 14:29] alasdairb opened #294 "Building on AWS linux instance failed"
Following the terraform build inststuctions using an AWS linux instance
got this message
"Amazon Linux 2"

  Stored in directory: /home/ec2-user/.cache/pip/wheels/dd/91/fa/f4295813f6b3d6c66265dfecb170235a104d56392c60d79187
  Building wheel for psutil (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /home/ec2-user/gitcode/attack_range/venv/bin/python -u -c 'imp

![i

[2020-07-07 14:39] d1vious commented on #294
@alasdairb give this script a try: https://github.com/splunk/attack_range/wiki/Ubuntu-18.04-Installation-Script I am assuming your missing some of the OS dependency.

[2020-07-07 17:58] alasdairb commented on #294
Hi, I tried with Ubuntu 18.04.4 LTS
I executed https://github.com/splunk/attack_range/wiki/Ubuntu-18.04-Installation-Script
I then customised attack_range.conf (for eu-west-1)
I executed python attack_range.py -m terraform -a build

I get this error
python attack_range.py -m terraform -a build
Traceback (most recent call last):
  File "attack_range.py", line 5, in <module>
    from pathlib import

[2020-07-07 21:34] d1vious commented on #294
looks like you shell might not have the virtual environment activated, eg:

[code]

try running these and then doing a build. Also confirm that awscli is configured if you can by running `aws s3 ls` your s3 buckets should show up 😄

[2020-07-08 03:52] Karma1331 opened #296 "Build fails on Splunk Stream search head task: change file ownership"
Hi there,
I've tried building attack range using vagrant in Ubuntu and it keeps failing with the error message shown in image 1. However the file does indeed exist as verified by image 2.

Image 1:
![image](https://user-images.githubusercontent.com/61952449/86873312-a8a7e880-c0a3-11ea-8b1f-ea9e5dcb1a95.png)

Image 2:
![image](https://user-images.githubusercontent.com/61952449/86873652-587d5600-c0a

[2020-07-08 07:42] alasdairb commented on #294
So I sat down yesterday.
I worked through the missing dependancies,
 pip install more-itertools
pip install pathlib
pip install configparser

I found that in the Ireland region eu-west-1 it struggled with finding the AMI images
It could not install Kali
module.networkModule.data.aws_availability_zones.available: Refreshing state...

Error: Your query returned no results. Please change your search

[2020-07-08 13:00] alasdairb commented on #294
Destroyed the environment above, and so I have switchd back to a AWS Linux instance today as my control point for this build in eu-west-1. I got terraform running (with a some modifications to the AWS instance along the lines of the ubuntu customisations. When I execute python attack_range.py -m terraform -a build  with the defaults.  I am running in this aws region (eu-west-1) so i changed to con

[2020-07-08 13:11] P4T12ICK commented on #290
this is solved, isn't it?

[2020-07-08 13:12] P4T12ICK commented on #292
we are working on improving our caldera implementation. We will use another agent.

[2020-07-08 13:13] P4T12ICK commented on #294
Did the build command run without an error? The sseidenrichment comes from the Security Essentials App. We will have a look into this issue. This should only affect this certain dashboard and no other functionality of Attack Range.

[2020-07-08 13:17] P4T12ICK commented on #296
This is a difficult issue. I just built it with vagrant on my Macbook without an issue. Our different host OS version shouldn't matter in this case.

[2020-07-08 15:11] alasdairb commented on #294
Command ran without error. I'm going to go back and do it again but this time add Kali

[2020-07-08 18:08] alasdairb commented on #294
So ran it all the way through, got 5 machines built, but missing ES up set the scripts so no apps installed. Still only one error on build.

[2020-07-08 18:22] Karma1331 commented on #290
It is thank you sir.

[2020-07-08 18:30] d1vious commented on #296
@Karma1331 I was also not able to replicate the issue. I wonder if you are using a different vagrant box than us. Do you mind running `vagrant box list` .. currently this is my output:

[code]

[2020-07-09 00:16] Karma1331 commented on #296
Hi there, this is my output:

(venv) karma@Range:~/Documents/attack_range$ vagrant box list
generic/ubuntu1804 (virtualbox, 3.0.10)

[2020-07-09 05:39] powermundsen opened #297 "Problem setting up AMI: kali linux and windows client"
I get two errors when building attack range with the kali linux and windows client enabled. I'm not to familiar with terraform and the ami setup so this could be a stupid question, but do I have to specify which Ami's to use?
My region is region = us-west-2.

[code]

[2020-07-09 06:04] #290 closed

[2020-07-09 06:07] P4T12ICK commented on #297
The windows client ami needs to be uploaded by yourself because AWS Marketplace doesn't offer Windows 10 amis. We wrote a wiki article about this: https://github.com/splunk/attack_range/wiki/Upload-Windows-10-AMI-to-AWS

The kali linux ami should work. Let me check, sometimes amis are not avialable anymore in the marketplace and then we need to change them. Then it will still work for the people w

[2020-07-09 06:30] powermundsen commented on #297
Thanks for the quick response!
I missed the wiki on Windows 10, I'll try that. It sounds like you're right concerning the Kali Linux, let me know if you find the correct one :)

[2020-07-09 07:07] jzsplunk commented on #296
@Karma1331 thanks for the update! This one is tricky to reproduce on our end would you mind sharing any host OS information or other library specific version info that is readily available (@P4T12ICK is right most likely this independent of host OS but it cant hurt at this point...) .  Are you on OS X/Homebrew?  One suggestion regardless of OS would be to clone a fresh version of attack range and

[2020-07-09 07:22] P4T12ICK commented on #297
I just merged a PR. Can you have a look, if the Kali Linux works for you?

[2020-07-09 11:22] powermundsen commented on #297
I have tested the new merge and the search still fails to find the kali linux ami:

`Error: Your query returned no results. Please change your search criteria and try again.
  on modules/kali_machine/resources.tf line 2, in data "aws_ami" "latest-kali-linux":
   2: data "aws_ami" "latest-kali-linux" {
`

I also tried to write the exact name without any luck:
`  filter {
      name   = "name"

[2020-07-09 12:36] P4T12ICK commented on #297
The star at the end is important. Can you try to first subscribe to this AMI in Amazon Marketplace and then try it again?

[2020-07-09 15:53] alasdairb commented on #294
HI,
I'm struggling to execute this command (it worked yesterday)
(venv) [ec2-user@ip-192-168-1-142 attack_range]$ python attack_range.py -m
terraform -a simulate -st T1003.001 -t
attack-range-windows-domain-controller

attack_range is using config at path attack_range.conf
2020-07-09 15:49:11,574 - INFO - attack_range - INIT - attack_range v1
Traceback (most recent call last):
  File "attack_range

[2020-07-09 15:58] alasdairb commented on #294
I should say, I'm really impressed with the tool, and the potential of it.

[2020-07-09 22:41] Karma1331 commented on #296
My pleasure @jzsplunk  ! Here's some info about my setup, please let me know if you'd like more info. I tried indenting in here but it sucked so here's a pdf of my specs.

[Specs.pdf](https://github.com/splunk/attack_range/files/4899849/Specs.pdf)

[2020-07-10 05:31] powermundsen commented on #297
Thanks for the help! I can't seem to get this to work, I'm still getting the same error.
I am subscribed to the AMI here https://aws.amazon.com/marketplace/pp/B01M26MMTT?qid=1594358291390&sr=0-1&ref_=srh_res_product_image and the star is present in the search. I also reinstalled the project again but it made no difference.

`Error: Your query returned no results. Please change your search criteria

[2020-07-10 06:35] P4T12ICK commented on #297
This is weird. It's hard to help you when I can't reproduce it. It needs to be related that I already subscribed to this AMI a long time ago and you not yet. It's hard to say.

In the file terraform/modules/kali_machine/resources.tf line number 20 is the ami field. You can try to identify the ami id of the kali machine and manually add it in there.

Maybe some configurations are missing for your a

[2020-07-10 06:44] powermundsen commented on #297
Yeah I get that it's difficult. Thanks, I'll try to do that.
But I think you're on to something with the was cli. I ran the command with no results.

`(venv) Andres-MacBook-Pro:attack_range andre$ aws ec2 describe-images --owners 679593333241 --filters "Name=name,Values=Kali Linux 2020*"
{
    "Images": []
}
`
I'm gonna reinstall it now. Are you using was cli version 2.x or version 1.x btw?

[2020-07-12 19:23] powermundsen commented on #297
I found the error!
The name of the machine is wrong, it should be:
`  filter {
      name   = "name"
      values = ["kali-linux-2020.*"]
  }`

[2020-07-13 10:27] powermundsen commented on #297
(I opened the issue again to make sure that there are no consequential errors down the line by changing the username and to let you know about the solve, feel free to close it.)

It can now find an AMI but I run into a SSH error when building:

`
module.kali_machine.aws_instance.kali_machine[0] (remote-exec): Connecting to remote host via SSH...
module.kali_machine.aws_instance.kali_machine[0] (re

[2020-07-14 00:31] jez-github opened #299 "Build fails with HTTP 401 code when trying to install ESCU app"
Hi guys,

When trying to build using vagrant on my laptop I keep getting up to the "Install escu app via REST" stage and it fails every time with a "HTTP 401" error. Vagrant output listed below:

TASK [search_head : Check if ESCU App exists] **********************************
ok: [attack-range-splunk-server]

TASK [search_head : download ESCU app from S3 bucket] **************************
changed:

[2020-07-14 01:35] jez-github commented on #299
Looks like it was due to changing the password in attack_range.conf before kicking off the build process.

[2020-07-14 01:35] #299 closed

[2020-07-14 10:18] jzsplunk commented on #296
@Karma1331 a team member of ours seems to have found a fix (first cut of the logic in this PR: https://github.com/splunk/attack_range/pull/300/files).  Here is his correspoding vbox info as well for timeout purposes it appears the splunk stream app was taking too long to install on vbox in certain instances see if this helps and keep us posted: `   config.vm.provider "virtualbox" do |vb, override|

[2020-07-14 15:52] #294 closed

[2020-07-14 15:55] alasdairb commented on #294
So I solved the problem above by running "... attach_range.py -m terraform -a build" That lead terraform to reconstruct its errant state file. and it did not recreate the terraform.
I was able to test, I did slightly amend within splunk to get the displays to how I wanted them. I think that it creates a good springboard to learn from.

[2020-07-15 04:01] d1vious opened #301 "Bug with simulates on vagrant mode"
Reported by Shannon Davis:
Have a customer trying to launch a couple of attack-range tests but hitting this.  Haven’t troubleshooted much yet just in case this is an easy fix
[code]

[2020-07-15 04:11] d1vious commented on #297
@powermundsen I would like to keep this issue open a bit longer, maybe it might help anyone if they run into the same issue. Will also talk to new users to see if they run into it. Thank you so much for coming back and posting the full fix! At worst we can easily turn this into a PR from your work. In short 🙇 thank you!

[2020-07-15 05:35] jez-github commented on #301
When trying to run the Atomic Red simulations with #301 it fails to find "Invoke-AtomicRedTeam.psd1" in the Atomic folder:

TASK [atomic_red_team : Get requirements for Atomic Red Team Technique] ********
l.Commands.ImportModuleCommand\r\n \r\nInvoke-AtomicTest : The term 'Invoke-AtomicTest' is not recognized as the name of a cmdlet, function, script file, or \r\noperable program. Check the spelli

[2020-07-15 06:08] nickston3 opened #303 "Using Vagrant does not default to VirtualBox"
Is it possible to give the option of a Vagrant provider or force virtualbox as the default?

I use several providers in my environment and got stuck trouble shooting aws/terraform when my vagrant default is aws... d'oh
I'd also like to contribute other providers in the future (like esxi for cloud thats not a cloud)

Something like this:
`v1.up(provision=True, provider="virtualbox")`

[2020-07-16 03:48] Karma1331 commented on #296
Hi @jzsplunk , that did not fix it, please see screenshot below:
![image](https://user-images.githubusercontent.com/61952449/87624361-3790b280-c6ed-11ea-80a3-09179f34ef36.png)

How else can i help?

[2020-07-16 15:43] d1vious commented on #303
@nickston3 certainly, this should be an easy enough change, got a PR going: https://github.com/splunk/attack_range/pull/304

[2020-07-19 17:11] mrpappagiorgio commented on #297
I am having a similar issue when building with vagrant and virtualbox locally, not on AWS. ....Pertaining to Kali. I can build everything else but the Kali when i include it. I can Build a Kali box separately via a build though. So it only happens when i build a Kali box as well as a combination of Windows AD and Servers and Clients....It pauses at the SSH as well... increased the Timeout to 900 f

[2020-07-19 17:24] powermundsen commented on #297
Hi! I forgot to add that I had to change the login user from ”ec2-user” to ”kali” in the configuration file for the kali machine (can't remember what it's called due to vacation right now). That is the reason why it times out! You can also try SSh first in you local terminal to see if that solves the problem.
This is something that might needs to be corrected for all builds?

[2020-07-20 13:15] P4T12ICK commented on #292
this should be fixed.

[2020-07-20 13:15] #292 closed

[2020-07-21 21:44] jzsplunk opened #306 "Vargrant DNS settings issue with Splunk Server Deploy"
When running the latest develop branch @rvaldez617 and I both keep running into DNS issues on the ubuntu box configured to download Splunk Server.  @rvaldez617 was able to fix the issue by adding an explicit entry to a DNS server in ansible but it looks like those settings might be brittle and the better fix is in this gist (still testing).

https://gist.github.com/mitchellh/1277049
https://groups

[2020-07-21 22:10] rvaldez617 commented on #306
Note that this only happened with Vagrant. I'm not sure what changed as this worked before. I suspect it's a change in the behavior of the installed OS, but not sure. The splunk build comes up with a configured DNS server of 127.0.0.53, which is unresponsive. I did a quick fix by adding an ansible step to manually configure DNS, but as mentioned above, probably not the best solution, but seems to

[2020-07-21 22:23] jzsplunk commented on #306
@peter-cg does not hit an issue on the latest develop.  The difference in configs is my machine is OS X Catalina 10.15.5, Virtualbox Version 6.1.12 r139181 (Qt5.6.3).  Peter is on OS X Mojave 10.14.6 Vagrant 2.2.9 but only vbox 6.1.10.

[2020-07-21 22:27] rvaldez617 commented on #306
I tested on Catalina 10.15.4, vbox 6.1.4, vagrant 2.2.7

[2020-07-23 18:11] jzsplunk commented on #296
@Karma1331 we updated the develop branch with some fixes for handing DSP installs better.  Try pulling the latest and see if you still have the issue when you get a chance.  Thanks for all your feedback!

[2020-07-27 17:50] #306 closed

[2020-07-28 19:09] jzsplunk commented on #215
This issue is not present in the latest develop branch after merging changes @P4T12ICK worked on

[2020-07-28 19:09] #215 closed

[2020-07-29 19:21] d1vious opened #313 "Splunk Landing Page contains error with sseidenrichment command"
When loading a new attack range I get the following:

<img width="1177" alt="image" src="https://user-images.githubusercontent.com/1476868/88843469-2cd72280-d1af-11ea-82cf-d67daac54e20.png">

[2020-07-30 18:04] timfrazier1 opened #314 "ERROR: Can't find configured EC2 Attack Range Instances in AWS."
I ran into the above error when trying to run a simulation with the following command;
`python attack_range.py -m terraform -a simulate -st T1003.001 -t attack-range-windows-domain-controller`

I was able to solve this problem by modifying my default aws configuration profile (typically at ~/.aws/config), which was  pointing to a region other than the one in my attack_range.conf file.

It might be

[2020-07-30 18:06] timfrazier1 commented on #314
The above was also confusing because the build was successful but then I could not run a simulation.

[2020-08-02 18:25] s-koniarz commented on #313
Same error as well

[2020-08-02 19:40] Hops-AF opened #315 "splunk_es_app set to version 611 in current attack_range.conf"
In the attack_range.conf file splunk_es_app is hardcoded to an older version of 611.  This results in a failure of ansible and can be corrected by updating the splunk_es_app variable to 620 in the attack_range.conf. Recommend updating or giving additional info in the commented out section of the attack_range.conf for individuals to input the correct version.

[2020-08-05 01:18] d1vious commented on #315
@Hops-AF we add an example field in there, not necessarily "hard coded", but also there is a comment that specifies to update it base on the version you will use and placed under the `apps/` folder see: https://github.com/splunk/attack_range/blob/develop/attack_range.conf#L171-L172

[2020-08-05 01:18] #315 closed

[2020-08-05 01:19] d1vious commented on #303
hey PR merged and this is looking good thank you again for raising!

[2020-08-05 01:19] #303 closed

[2020-08-05 01:21] d1vious commented on #301
@jez-github I believe this was solved in a more recent PR related to the default atomic red team branch we use. Please give it a try again!

[2020-08-06 22:31] d1vious opened #317 "Vagrant: The following settings shouldn't exist: default_nic_type"
Reported by Chris Jack in red team village.
[code]

[2020-08-07 01:03] Karma1331 commented on #296
Sorry it's taken so long, I'll get to it this weekend hopefully.

[2020-08-09 17:57] forensic65x opened #321 "MacOS 10.15.5 - attack_range.py ERROR: splunklib.results is not a package error"
I'm attempting to launch the Terraform Attack range from macOS.

I get the following error regarding splunklib.

python3 attack_range.py --mode terraform --action build
Traceback (most recent call last):
  File "attack_range.py", line 7, in <module>
    from modules.TerraformController import TerraformController
  File "../github/attack_range/modules/TerraformController.py", line 4, in <module>

[2020-08-10 07:22] P4T12ICK commented on #321
Hi, do you have the virtualenv activated and installed all packages from requirements.txt, as described in the wiki? Then, you don't need to install packages manually. The package for the splunklib is called splunk-sdk in pip but I recommend you to follow the wiki article.

[2020-08-10 18:20] forensic65x commented on #321
That worked.  Thanks for the quick reply.  I did get another error regarding kali.  I'll open another issue for that.

[2020-08-10 18:20] #321 closed

[2020-08-10 18:59] forensic65x opened #322 "Enable a kali linux machine - ERROR: can't find configured EC2 Attack Range"
I set the following:

phantom_server = 0
# enable a phantom server
# possible values: 1, 0

windows_domain_controller = 1
# enable a windows domain controller
# possible values: 1, 0

windows_server = 1
# enable a windows server
# possible values: 1, 0

kali_machine = 1
# enable a kali linux machine
# possible values: 1, 0

windows_client = 0
# enable a windows client
# this is only possible for v

[2020-08-10 20:49] forensic65x opened #323 "BOTSv2 and BOTSv3 data not being loaded"
Here's my config setting for BOTS:

  #### SELECTED ALL 3 BOTS datasets
  splunk_bots_dataset = 1a,2a,3

When reviewing the installed apps I only saw this:

I then searched the BOTS indexes. Both botsv2 and botsv3 indexes are empty.

  Search: index=botsv1 earliest=0
  Results: 955,807

  Search: index=botsv2 earliest=0
  Results: 0

  Search: index=botsv3 earliest=0
  Results: 0

Then checked the

[2020-08-11 16:09] jzsplunk commented on #296
@Karma1331 take your time when you get a chance we would love your feedback no rush though thanks again for all your time.

[2020-08-11 20:17] etz69 commented on #313
This is because sseidenrichment from SSE has found a technique which is not supported by SSE. In recent version of SSE this issue is handled correctly and will not break the command execution.
Better approach is to update the reporting app to use local lookup and drop dependency to SSE.

[2020-08-13 21:10] d1vious commented on #323
@forensic65x not sure what is going wrong there, we just pushed a major update yesterday might be worth destroying,removing attack_range and re-cloning. Also important to note that the time events for bots are indexed are not during spin up for the range but when the events actually occurred. Check out it:

![image](https://user-images.githubusercontent.com/1476868/90187439-c2fe7180-dd87-11ea-9a70

[2020-08-13 21:16] d1vious commented on #322
that is an interesting issue, have you tried/looked at https://github.com/splunk/attack_range/issues/297 it might help.. I suspect it has something to do with your AWS account having access to the Kali AMI for that region.

[2020-08-13 21:23] forensic65x commented on #323
I selected 'All Time' for the searches.  My bad for not including a screenshot.

[2020-08-13 21:59] bpenn-splunk commented on #323
Hi Todd, this is Bruce Penn. Any luck per Jose's recommendation? Otherwise, we can get on a Zoom session soon

[2020-08-14 00:57] forensic65x commented on #322
#297 helped.  the kali_machine/resources.tf had 2 typos that needed to be corrected.

Line 9 changed to this:        values = ["kali-linux-2020.*"]
Line 35 changed to this:       user        = "kali"

Once I made those 2 changes, I didn't get the 'can't find configured EC2' error.  I did have to accept the license for Kali after making those 2 changes.

The kicker - I'm attempting to launch this o

[2020-08-14 03:27] forensic65x commented on #322
I'm good to go.  Making those 2 changes to the kali resources.tf solved the kali install issue.  If I actually had experience creating a pull, making the change to the resource file and submitting it I would.. lol

[2020-08-14 03:28] #322 closed

[2020-08-15 02:30] daveherrald commented on #323
I was doing some other work with Attack Range this evening and gave it a test. Like Jose, I was not able to reproduce the problem. I am using AWS/Terraform with [this version](https://github.com/splunk/attack_range/commit/9c1e032244422f50d85ff44c5911c91a3f6be939) of the code. I was using the development branch (beware master branch is broken as of this commit and should not be used) and the attach

[2020-08-15 03:01] forensic65x commented on #323
I did what he suggested and smoked the existing directory and downloaded a fresh copy a couple days ago.

I attempted to build it a couple times and destroyed it between rebuilds.

Looks like it keeps failing at the same point each time (bolded).

I can send you the attack_range.conf file minus the passwords if that helps.

module.splunk-server.aws_instance.splunk-server: Still creating... [2h6m33

[2020-08-15 03:03] daveherrald opened #328 "BOTSv2 full dataset too large for default cloud search head"
With AWS/Terraform and specifying the full v2 dataset in the config file like this:

splunk_bots_dataset = 2

I get the following error.

<img width="1315" alt="2020-08-14_20-58-58" src="https://user-images.githubusercontent.com/480456/90304047-0a146180-de71-11ea-82d1-0268456728a5.png">

When I SSH in I see:

<img width="649" alt="2020-08-14_21-02-16" src="https://user-images.githubusercontent.com

[2020-08-15 03:06] daveherrald commented on #323
Yes the config file would help. It's why I posted mine. Please post it here with sensitive values removed.

[2020-08-15 03:10] daveherrald commented on #323
Oh hold the phone... as I look at your output more closely, it looks like you are running into an AWS limit on the number of Elastic IPs in your account:

`**Error: Error creating EIP: AddressLimitExceeded: The maximum number of addresses has been reached.
status code: 400, request id: 7dea3632-2ac6-4201-903b-5eea7c591b67`

I would address that first before trying again.

[2020-08-15 03:12] forensic65x commented on #323
How many are needed?  This is my first AWS adventure... lol

On Fri, Aug 14, 2020 at 10:10 PM Dave Herrald <notifications@github.com>
wrote:

[2020-08-15 03:13] daveherrald commented on #323
It's a good question for @d1vious :-)

[2020-08-15 03:36] daveherrald opened #329 "Terraform build fails when ES is specified"
[code]

[code]

[2020-08-15 11:53] d1vious commented on #323
A public is needed for every asset you bring up. What I suspect might be happening is since you have had a few failures there are remnants confits in AWS from previous executions. Please go to your AWS console -> EC2 -> Elastic IPs and release any unused ones. Also check your running instances and make sure you terminate any attack range ones that might be there.

[2020-08-15 14:21] d1vious commented on #329
@daveherrald did you have the enterprise security package `splunk-enterprise-security_611.spl` under the path: `attack_range/apps/splunk-enterprise-security_611.spl` ? looks like it cannot find it.

[2020-08-15 14:23] d1vious commented on #328
Current Splunk volume is 30gb
[code]

try bumping it to 60gb if that works, then we can file PR to increase the disk space to allow for BOTs datasets.

[2020-08-15 14:25] d1vious commented on #301
We removed vagrant from the project it is now part of the local attack_range FYI: https://github.com/splunk/attack_range_local/

[2020-08-15 14:25] #301 closed

[2020-08-15 14:26] d1vious commented on #313
@etz69 thank you so much for correcting this! I see now things are working as expected 🤘

[2020-08-15 14:26] #313 closed

[2020-08-15 14:26] d1vious commented on #317
Removed default nic configs

[2020-08-15 14:26] #317 closed

[2020-08-15 15:08] #329 closed

[2020-08-16 20:19] daveherrald commented on #328
Nice I did not know where to adjust the specs :-) Tested with 60GB and it seems to work well. Rather than increasing the default, though, perhaps just documenting this required adjustment in the config file comments is enough. The full BOTSv2 data set is not a common install , as we strongly recommend the much smaller V2 attack-only version which fits fine in the current default. I will submit the

[2020-08-17 16:17] d1vious opened #330 "Default whitelist parameter opens everything to the world we should force users to put in their public IP"
https://github.com/splunk/attack_range/blob/9c1e032244422f50d85ff44c5911c91a3f6be939/attack_range.conf#L17

We have had multiple AWS abuse complains that due to port 389 on windows machine is left open on instances that the default was not changes, it gets abused by attackers for UDP amplification attacks when ranges are left running longer than 24h with everything open.

An alternative solution i

[2020-08-17 16:24] rvaldez617 commented on #330
Suggest a 2-pronged approach.

1) add a parameter so that customers can specify a security group to apply to the attack_range instances. The theory is that customers who use this will probably create their own and can then just assign it in the conf file.
2) If no security group is defined by the customer, and the default 0.0.0.0/0 hasn't been changed, we restrict incoming ports to ssh/rdp/splunk

[2020-08-17 16:56] ghoto commented on #330
Perhaps we can just let external Splunk ports open, SSH and RDP. For inter-machine communication they just use local ip addresses 10.0.0.0/16

Current code
[code]

[2020-08-17 18:49] wilshire059 opened #331 "Documentation - Links to Local and Cloud Repos"
I noticed https://github.com/splunk/attack_range_local/ gives a 404. Have the local and cloud repos been taken down or moved? If so, the documentation should probably be updated with the correct links.

[2020-08-18 00:24] patel-bhavin commented on #330
created a PR for https://github.com/splunk/attack_range/pull/332 : not allowed anymore!

[2020-08-18 00:42] d1vious commented on #331
@wilshire059 unfortunately this is correct, we haven't gotten around finishing up the local range repo yet. It should be ready in the next two week. Links are correct, repos are currently private unfortunately.  I will keep this issue open until we open up the attack_range_local repo.

[2020-08-18 00:45] d1vious commented on #328
I don't think adding the extra space hurts too much, the worst side effect is an increase in cost, but it is minimal. If you shoot over a PR for the space bump 😄 I would owe you +1 more 🍻 in my tab. Also huge thank you!

[2020-08-18 16:42] daveherrald commented on #328
https://github.com/splunk/attack_range/pull/333

[2020-08-19 18:49] xlinsplunk opened #335 "ip_whitelist does not allow more than 1 IP address"
when adding IP to ip_whitelist in attack_range.conf, specify more than 1 IP will error out when build the range. for example,

ip_whitelist = 204.107.0.0/16, 24.5.0.0/16

will give error at the beginning if build:

Error: "204.107.0.0/16, 24.5.0.0/16" is not a valid CIDR block: invalid CIDR address: 204.107.0.0/16, 24.5.0.0/16

[2020-08-19 20:01] dlamspl commented on #313
@d1vious You can download updated reporting app from below. The new version of SSE works only by ignoring the error but no data is provided. Below updated app supports sub techniques now. However there is still dependency on SSE to retrieve all splunk detections, but only in one widget.
https://github.com/dlamspl/splunk_attack_range_reporting/releases/download/v1.0.5/splunk_attack_range_reporting-

[2020-08-25 07:30] fierytermite opened #342 "No such file or directory: 'terraform': 'terraform' when building"
Hi! I've been trying to build attack_range in both an Ubuntu 18 and an Ubuntu 20 machine, and I'm getting this error while building.

[code]

I tried with path variations and stuff, but nothing helped, neither could find a solution in terraform's repository. May it be related with the refactoring?

[2020-08-25 07:32] P4T12ICK commented on #342
Did you follow the guide in here?
https://github.com/splunk/attack_range/wiki/Ubuntu-18.04-Installation

[2020-08-25 07:44] fierytermite commented on #342
Oh, my bad, I was actually tying with this one ---> https://medium.com/@julian.wieg/splunk-attack-range-in-a-virtualized-ubuntu-guest-vm-guide-c6587f43c15 to set it up locally, since I wanted to give it a try, I notice it was a little bit outdated, but not that much 😅

[2020-08-25 07:46] #342 closed

[2020-08-26 12:11] P4T12ICK commented on #335
we are able to support this now

[2020-08-26 12:11] #335 closed

[2020-08-26 12:11] P4T12ICK commented on #330
Should be improved with the latest changes

[2020-08-26 12:11] #330 closed

[2020-08-26 12:12] P4T12ICK commented on #297
This was fixed with the latest merge

[2020-08-26 12:12] #297 closed

[2020-09-04 13:18] mchowdhury-splunk opened #353 "support for installation of additional packages during install."
Hello:

Will there be an option to install additional packages if required? For instance If I want have something  like eventgen or any custom packages, how do I include this during automated install.

Thanks.

[2020-09-08 18:49] wsisulak opened #356 "Splunk Attack Range Local"
https://github.com/splunk/attack_range_local/ does not exist, has the ability to run Splunk attack range locally via a virtual environment been removed?

[2020-09-08 22:29] ghoto commented on #356
See this issue https://github.com/splunk/attack_range/issues/331

[2020-09-08 22:29] #356 closed

[2020-09-08 22:37] ghoto commented on #353
The installation of custom software it's not under the radar, however you can extend AR by modifying Ansible scripts/configuration to add the software you need to the instances.

If the software you need to install benefits all users of AR, we might consider it to be part of AR.

[2020-09-11 21:32] ghoto opened #362 "Organize cmdline argument parsing"
Currently the parsing of the arguments is done by a single monolithic parser. There are several actions that require sub-arguments.

Take for example the arguments "-a simulate -st", or "-a dump -dn". In the current state "-st" and "-dn" share the same parser, it would be better that those fall under a parser associated to the actions "simulate", and "dump" respectively. Having an organized parsin

[2020-09-14 11:51] P4T12ICK opened #363 "Log Windows Event Tracing"
https://splunkbase.splunk.com/app/4777/#:~:text=TA_ETW%20is%20a%20Splunk%20Technology,Splunk's%20Universal%20Forwarder%20(UF).&text=vector%2Dsec%2FTA_ETW-,TA_ETW%20is%20a%20Splunk%20Technology%20Add%2DOn%20(TA)%20for,ETW%20events%20from%20Windows%20systems.

[2020-09-14 14:51] harveybob opened #364 "Terraform build fails to get instance from AWS"
After terraform build to AWS.
List of instances fails post build in attack_range.put / TerraformController.py

Apply complete! Resources: 11 added, 0 changed, 0 destroyed.
2020-09-14 15:47:51,458 - INFO - attack_range - attack_range has been built using terraform successfully
Traceback (most recent call last):
  File "attack_range.py", line 146, in <module>
    main(sys.argv[1:])
  File "attack_ra

[2020-09-14 14:54] harveybob commented on #364
Running following command also fails
python attack_range.py -lm

starting program loaded for B1 battle droid
          ||/__'`.
          |//()'-.:
          |-.||
          |o(o)
          |||\\  .==._
          |||(o)==::'
           `|T  ""
            ()
            |\
            ||\
            ()()
            ||//
            |//
           .'=`=.

attack_range is using config at path atta

[2020-09-14 16:16] P4T12ICK commented on #364
Hi, that often happens when the configured region in aws cli doesn't fit to the region specified in attack_range.conf. Can you check this?

[2020-09-14 16:44] harveybob commented on #364
Thanks I have aws CLI config set to region:-
[default]
region = eu-west-2

and config "attack_range.conf" also set to:-
region = eu-west-2

[2020-09-14 22:08] harveybob commented on #364
re-tried under a new account and worked this time.

[2020-09-14 22:08] #364 closed

[2020-09-15 09:40] victorvillar commented on #331
Any updates on this topic?

[2020-09-17 07:29] P4T12ICK commented on #331
Almost done. In case you need it urgently you can go back to a previous commit, e.g. https://github.com/splunk/attack_range/tree/f1ce9574920cf1af0a0d2f0690a2d454ceb73b79

[2020-09-17 07:29] #353 closed

[2020-09-17 07:29] P4T12ICK commented on #328
I think that is solved

[2020-09-17 07:29] #328 closed

[2020-09-17 07:30] #323 closed

[2020-09-17 07:30] #296 closed

[2020-09-17 07:30] #314 closed

[2020-09-18 10:06] P4T12ICK commented on #331
Attack Range local and Attack Range Cloud should be open sourced now.

[2020-09-21 13:09] harveybob opened #370 "Build Issue ?"
Attempting to re-build attack lab in AWS via terraform Mac os x results in following errors after trying to run simulation

python attack_range.py -a simulate -st T1003.001 -t attack-range-windows-domain-controller

 File "attack_range.py", line 136, in main
    controller.simulate(target, simulation_techniques, simulation_atomics)
  File "/Users/key/attack_range/modules/TerraformController.py", l

[2020-09-21 14:04] harveybob commented on #370
Issue was caused by instance name prefixed with default

python attack_range.py -a simulate -st T1003.001 -t default-attack-range-windows-domain-controller

works fine

Or editing instance names

[2020-09-21 14:04] #370 closed

[2020-09-21 14:05] harveybob commented on #370
Issue was caused by instance name prefixed with default

python attack_range.py -a simulate -st T1003.001 -t default-attack-range-windows-domain-controller

works fine

Or editing instance names

[2020-09-21 18:02] d1vious commented on #370
hey yea, did you find the example somewhere in the readme? We might have to clean things up :-)

[2020-09-29 17:36] #362 closed

[2020-09-29 17:37] #331 closed

[2020-10-01 17:28] patel-bhavin opened #382 "Unable to load the ES content management UI page: ESCU 3.0.7"
ESCU 3.0.7 has a known bug https://github.com/splunk/security-content/issues/682 which is why the attack range splunk server is Unable to load the ES content management UI page.

This has been identified and will be fixed in the ESCU3.0.8

[2020-10-21 02:29] trogdorsey opened #391 "Need ability to run a provided executable or script"
I'd like to be able to use the attack range to run known malware samples, powershell scripts and command lines.

[2020-10-31 10:54] harveybob opened #397 "Unable to login Caldera AWS"
Built single Splunk Server/Caldera in AWS.

Unable to login. I added the rule to security groups in AWS to allow port 8888
Password changed in config file.

Tried logging in as both red and admin.
Following message received in syslog
Oct 31 10:51:35 splunk-server-2477298 caldera[905]: 2020-10-31 10:51:35 - DEBUG (auth_svc.py:78 login_user) admin logging in:

Login screen returns back to login

[2020-11-07 20:44] julianwieg opened #401 "Attack Range Wiki error/change needed"
Hello,
with the removal of local installs/vagrant from attack_range the guide written by me on medium is no longer accurate and should be removed.

So on page   https://github.com/splunk/attack_range/wiki    remove
_`Or his getting start guide written by a hero in the community @JulianWieg`_

[2020-11-10 19:03] #382 closed

[2020-11-17 17:12] d1vious opened #405 "Handle errors when a replay cannot run due to no range built"
If you do not have a range built replay returns this error, this should be caught and print a clearer statement to the user that the range needs to be built first

[code]

[2020-11-17 19:57] d1vious opened #406 "introduce ability to forward attack_range data into 3rd party systems"
recommendation is to introduce it as a splunk settings parameter similar to:

[code]

etc..

[2020-11-18 11:15] ps51337 commented on #397
I have got the same issue. I was checking different branches and the issue has been present for a long time.
Will this be fixed soon?

[2020-11-18 14:23] vonn1e commented on #397
I have the same problem, glad to see it's not just me

[2020-11-19 08:35] P4T12ICK commented on #401
Should we add it to the attack_range_local project instead?

[2020-11-19 08:36] P4T12ICK commented on #397
I will debug this. Sorry for my late reply.

[2020-11-19 08:40] #363 closed

[2020-11-19 09:45] P4T12ICK commented on #397
It should work again. I upgraded to the latest Caldera release 2.8.1. and added the missing security group. Let me know if it's working for you.

[2020-11-19 11:19] ps51337 commented on #397
Thank you for the help.
I can access Caldera now but I do not see the results of simulations run from Caldera in Splunk Attack Range Dashboard. I also do not see anything when querying index="attack" for Caldera output. Is it normal?

[2020-11-19 21:12] julianwieg commented on #401
Hi.  No would not bother. My article was written before the 'split' of attack range vs attack range local.
I pointed my article/how-to now to attack range local and the attack range local installation works and is well documented/easier then when I wrote the article and 'local' did not exist

[2020-11-22 14:41] secbaymax commented on #397
It's still not working for local build. Please coud you check it.

[2020-11-22 14:49] secbaymax opened #414 "Unable to login Caldera - http://[10.0.1.12:8888/] - Local Build"
@P4T12ICK - Built single Splunk Server/Caldera local

**************************************************************************
Unable to login to caldera.

Tried logging in as both red and admin.
Password changed in config file and tried default as well.

************* Login screen returns back to login

[2020-11-23 08:10] P4T12ICK commented on #414
Okay. I will fix that.

[2020-11-23 08:12] P4T12ICK commented on #397
Caldera is not producing a nice log as Atomic Red Team does, at least as far as I know. That's why it's not that easy to ingest the output of Caldera simulation into the index=attack. When I'm wrong, let me know where I can find this log file. Thank you. @ps51337

[2020-11-23 08:32] ps51337 commented on #397
I am attaching the sample JSON output from Caldera. I think that the logs are clear enough (look at Steps section).
Is it possible to enable support for Caldera output in Splunk? Running simulations in Caldera, totally separated and without support of Splunk Attack Range, does not make much sense in my opinion. The simulations and different techniques/attacks should be visible in Attack Range Repo

[2020-11-23 09:24] P4T12ICK commented on #414
should be fixed. Please let me know if it's working for you.

[2020-11-23 17:12] secbaymax commented on #414
![image](https://user-images.githubusercontent.com/57216696/99992326-3464ac00-2ddc-11eb-9cfe-fd725a678da7.png)

it's still not working ... i tried admin, red and blue
and verified password in local conf file and as well tried without changing conf with default
'
![image](https://user-images.githubusercontent.com/57216696/99993050-282d1e80-2ddd-11eb-96f3-328ea153ca9c.png)

[2020-11-23 17:13] secbaymax commented on #414
@P4T12ICK - attached above log for further analysis

[2020-11-23 17:47] P4T12ICK commented on #414
You got the latest version of the https://github.com/splunk/attack_range_local project? For me it was working.

[2020-11-23 17:49] P4T12ICK commented on #414
the password is stored under the key caldera_password in attack_range_local.conf

[2020-11-23 17:58] P4T12ICK commented on #401
Thank you

[2020-11-23 18:34] kseidenschnur opened #416 "Error installing ES 6.4.0"
Getting an error when installing ES 6.4.0. Seems that the ESSINSTALL command needs a new argument.
Got it fixed by adding  --ssl_enablement auto to ESS ansible script.

But ES 6.2 is throwing an error. Would need to add a condition either based on .conf or by the filename? Not sure if its worth it since people will most likley using the latest release?

Created a pull request for attack range loca

[2020-11-23 18:58] secbaymax commented on #414
It's working.. Now, after removing completely and rebuild. Thanks a lot @P4T12ICK !!!

However, in order to enable "mock" plugin in caldera. I need to restart caldera alone. Is there a way I can restart caldera, without losing my work on caldera?

[2020-11-25 16:33] secbaymax commented on #414
Is it possible to run safe restart of server.py of caldera ???

[2020-11-29 19:39] secbaymax opened #418 "Caldera - Dependencies check failing during the build"
Caldera - Dependencies check failing during the build.
It tries for 3 times and fail causing caldera down after resume from failed step.

Please can you check on this @P4T12ICK

****LOG:****
TASK [caldera : Ensure caldera dependencies are present] ***********************
FAILED - RETRYING: Ensure caldera dependencies are present (3 retries left).
FAILED - RETRYING: Ensure caldera dependencies are

[2020-11-29 22:13] splunk-james opened #419 "Zeek capture configuration for Windows Server fails - Error: Invalid index"
when including the windows server for zeek capture config, build fails with the following message right at the start when refreshing config, removing the windows server zeek capture config (windows_server_zeek_capture = 0) build works fine:

Error: Invalid index

  on modules/zeek_sensor/resources.tf line 100, in resource "aws_ec2_traffic_mirror_session" "zeek_windows_server_session":
 100:   netw

[2020-11-29 22:33] splunk-james opened #420 "Intermittent failure of UF install"
seeing an intermittent failure of the UF install process caused by a timeout in the DNS resolution for download.splunk.com.  Seems to occur intermittently on all or some of the windows hosts - wondering if it could be related to the change of DNS config to use Windows DC DNS during build to the DC/DC clients?

module.windows-server.aws_instance.windows_server[0] (local-exec): fatal: [3.26.60.76]:

[2020-11-29 22:41] splunk-james opened #421 "Windows Client Requires Elastic Network Interface (ENA) - Update Wiki"
might be worth updating the wiki for the windows client AMI creation process to include the fact that an Elastic Network Interface (ENA) is likely required for the AMI.  When I followed the process as documented the build process failed given the default instance type for the windows client requires ENA.

I simply created a new AMI from the imported AMI and enabled ENA support and all worked.  I f

[2020-11-30 13:32] P4T12ICK commented on #414
@secbaymax you're welcome. I don't know. For this question you nee to ask the guys from Caldera.

[2020-11-30 13:32] #414 closed, assigned to nobody

[2020-11-30 13:34] P4T12ICK commented on #418
It worked for you a couple of days an now it's not working for you isn't it? Is it related to attack_range_local? If yes, can you open an issue in attack_range_local repository. Thank you.

[2020-12-01 00:50] splunk-james commented on #419
looks like the issue was caused by some other changes I had made which have been reverted and all is working now.

[2020-12-01 00:50] #419 closed, assigned to nobody

[2020-12-01 17:14] secbaymax commented on #418
I raised new issue in attack range local.

However, if you see error it is mismatch of hashes due to recent updates.
Check last 3 lines in above log @P4T12ICK

Last modification reported: Thu, 26 Nov 2020 18:15:01 +0000\nRelease file created at: Sun, 29 Nov 2020 19:00:40 +0000\n, E:Some index files failed to download. They have been ignored, or old ones used instead."}

[2020-12-02 21:57] splunk-james commented on #420
suspect this was to do with my other issue reported around missing interface index which I have resolved and now this seems to have stopped occurring as well.

[2020-12-02 21:57] #420 closed, assigned to nobody

[2020-12-07 10:01] P4T12ICK commented on #418
Will close it here. Need to be fixed in attack_range_local

[2020-12-07 10:01] #418 closed, assigned to nobody

[2020-12-10 12:57] ps51337 commented on #397
Hi @P4T12ICK
Is there any plan to integrate Caldera with Splunk soon?
Thanks a lot for the help.

[2020-12-10 13:55] P4T12ICK commented on #397
@ps51337 yes the log file looks good. In which folder are the logs written?

[2020-12-10 14:12] ps51337 commented on #397
@P4T12ICK I am not sure if they are stored in folders in pretty format. For sure you can download them by querying REST API but how they are exactly stored and what file paths are used need to be checked more precisely by checking the appropriate functions.

https://github.com/mitre/caldera/blob/master/app/api/rest_api.py
See download_file function

https://github.com/mitre/caldera/blob/master/app

[2020-12-10 16:15] P4T12ICK commented on #397
yes that is the problem. If it's automatically stored in a file, I can easily read them with a splunk universal forwarder. Querying a rest api is a bigger task.

[2020-12-18 00:11] josehelps opened #428 "When testing windows domain controller and other servers should not be built"
All machines should be turned off in the config if `test` action is running. Specifically set these values to 0
[code]

before this is called https://github.com/splunk/attack_range/blob/develop/modules/TerraformController.py#L84

[2020-12-18 00:13] josehelps opened #429 "Throw config parameter error earlier not during build"
Config parameters are not checked before being passed to ansible, we should really validate these so they error before any building actually starts. For example:
[code]

[2020-12-28 18:11] #391 closed

[2020-12-28 21:10] josehelps commented on #421
James sorry for not getting back to you sooner, do you specifically mean this wiki page? https://github.com/splunk/attack_range/wiki/Upload-Windows-10-AMI-to-AWS?

[2020-12-28 21:14] josehelps commented on #416
@kseidenschnur thank you so much for testing that out, I agree `--ssl_enablement auto` should be added, the tool should default to latest always. We do not test ES in our CI pipeline and last I checked was on 6.2. Was poking around https://github.com/kseidenschnur/attack_range/ but did not see a branch for this, assuming it is not this one https://github.com/splunk/attack_range/pull/380

[2020-12-28 21:16] josehelps commented on #401
@julianwieg updated, thank you 👍

[2020-12-28 21:16] #401 closed

[2020-12-28 21:18] josehelps commented on #397
@ps51337 @harveybob looks like this was resolved, thank you!

[2020-12-28 21:18] #397 closed

[2020-12-29 02:06] josehelps opened #430 "Can delay in reboot be reduce to speed build build time?"
https://github.com/splunk/attack_range/blob/b9eab0676d22ddb274b5380b0e3e896feece626c/ansible/roles/windows_domain_controller/tasks/create.yml#L31-L33

[2020-12-29 02:07] josehelps commented on #430
ideally set to 10 or 30 seconds?

[2020-12-29 18:03] vulnerablebydesign opened #431 "caldera.service does not exit gracefully when stopped/restarted"
**Issue**: caldera.service does not exit gracefully when stopped/restarted
**Impact**: Training progress, user additions, plugin enables, etc do not persist through necessary caldera.service restarts
**Fix**: #https://github.com/mitre/caldera/issues/1983#issuecomment-751024809
**Fix summary**: Add the following to [https://github.com/splunk/attack_range/blob/develop/ansible/roles/caldera/templates

[2020-12-31 14:58] Sreejith2k opened #432 "Error while running build command"
python attack_range.py -a build
Tried this as well - python attack_range.py -m terraform -a build
Same error
`Traceback (most recent call last):
  File "attack_range.py", line 7, in <module>
    from modules.TerraformController import TerraformController
  File "/opt/attack_range/modules/TerraformController.py", line 2, in <module>
    from modules.IEnvironmentController import IEnvironmentControl

[2021-01-07 09:40] P4T12ICK commented on #432
I think something went wrong with your virtual environment and pip. Did you do the steps explained in the wiki to setup the attack range?

[2021-01-07 12:07] P4T12ICK commented on #431
I prepared a PR with the suggested fix, https://github.com/splunk/attack_range/pull/433
Can you please check it? Thank you.

[2021-01-07 12:07] P4T12ICK commented on #416
I prepared a PR with a fix, https://github.com/splunk/attack_range/pull/433

[2021-01-07 22:36] josehelps commented on #431
We just merged a fix for this thank you again for raising it :smile:

[2021-01-07 22:36] #431 closed, assigned to nobody

[2021-01-08 11:32] P4T12ICK commented on #416
This is fixed

[2021-01-08 11:32] #416 closed, assigned to josehelps

[2021-01-11 16:35] josehelps opened #435 "add verbose flag and hide all other output"
instead of being so verbose by default, lets hide output (maybe only print out built time at the end) and add a verbose flag to place this under.

[2021-01-19 19:49] damanib21 opened #440 "VBoxManage: error during build"
During the setup of the attack_range_local environment I continue to get the following error.

==> attack-range-splunk-server: Running 'pre-boot' VM customizations...
==> attack-range-splunk-server: Booting VM...
There was an error while executing `VBoxManage`, a CLI used by Vagrant
for controlling VirtualBox. The command and stderr is shown below.

Command: ["startvm", "b1ce8e78-ddc2-4765-83d9-24

[2021-01-20 02:37] josehelps opened #441 "Can we shorten the reboot wait time for Domain Controllers or remove it all together?"
https://github.com/splunk/attack_range/blob/152a2f1d8997e2f82f635aab7f4f0d50808a896b/ansible/roles/windows_domain_controller/tasks/create.yml#L33

[2021-01-20 20:21] miskoSplunk opened #442 "On shortening post boot time for Domain Controllers"
https://github.com/splunk/attack_range/blob/152a2f1d8997e2f82f635aab7f4f0d50808a896b/ansible/roles/windows_domain_controller/tasks/create.yml#L33

@d1vious I think that "wait time" cannot/should not be shortened - to what I remember, it takes some time for a DC to bring up all services after a reboot/shutdown. However, this may just be my perception from observing DCs  that were deployed on VMware

[2021-01-20 20:52] josehelps commented on #442
hey you opened an issue for this instead of commenting on the previous one, noted :-)

[2021-01-20 20:52] #442 closed, assigned to nobody

[2021-01-28 06:37] ronscorner opened #451 "error while building attack range"
i am getting following error while building attack range locally.

Traceback (most recent call last):
  File "attack_range.py", line 208, in <module>
    main(sys.argv[1:])
  File "attack_range.py", line 204, in main
    return args.func(args)
  File "attack_range.py", line 105, in build
    controller.build()
  File "/home/rivery/Desktop/attack_range/modules/TerraformController.py", line 47, in b

[2021-01-28 16:14] patel-bhavin commented on #451
Hello, @pkamal227 : if you are building the range locally, please use this repo: https://github.com/splunk/attack_range_local and create an issue in that repo to help track better.
Thank you

[2021-02-01 19:15] ezztahoun opened #455 ""Linux endpoint" referred to in image in Readme doesnt exist in project files"
"Linux endpoint" referred to in image in Readme doesnt exist in project files. Instead there is a windows10 workstation.

[2021-02-02 04:59] #405 closed

[2021-02-02 04:59] #406 closed

[2021-02-10 21:50] cmutt78 opened #459 "Build issue: "Error: Your query returned no results""
Following the instruction of AWS and OSX I result in the below.  Please advise how I can get this to run.  I am running this in us-east-2.

[code]

[2021-02-12 20:01] josehelps commented on #451
@pkamal227 seems base on that error that you are missing the terraform folder in your local directory. Did that get wiped out mistakenly? https://github.com/splunk/attack_range/tree/develop/terraform

[2021-02-12 20:03] josehelps commented on #440
@damanib21 that NS_ERROR_FAILURE seems to be associated with an issue on MacOS, is this the OS you are using? Checkout: https://github.com/hashicorp/vagrant/issues/8687

[2021-02-12 20:05] josehelps commented on #432
@Sreejith2k did you try rebuilding your virtual env for python?
[code]

[2021-02-12 20:08] josehelps commented on #455
@ezzeldinadel you are absolutely right .. let me add this as an enhancement request.

[2021-02-16 18:05] P4T12ICK commented on #459
Can you try to disable the windows_client? For having a windows client some extra work is needed before as described in this wiki article: https://github.com/splunk/attack_range/wiki/Upload-Windows-10-AMI-to-AWS

[2021-02-24 21:40] patel-bhavin opened #463 "Add a check that conf file is same as the template file"
Add a check that conf file is same as the template file such that it throws an error if the conf file doesnt match template file

[2021-02-25 14:33] MHaggis opened #465 "Add the Mac"
Add the Mac from AWS to Attack Range.

Notes:
- https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-mac-instances.html#mac-instance-considerations
- Need a dedicated host: https://registry.terraform.io/modules/DanielRDias/dedicated-host/aws/latest
- Additional API: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AllocateHosts.html
Have to release the dedicated instance at the end.

[2021-03-17 03:23] josehelps opened #468 "Should Install azurecli as well."
https://github.com/splunk/attack_range/blob/974cf3f2a83abc4453f02709a5e2268326864c3a/scripts/ubuntu_deploy.sh#L3

[2021-03-24 23:35] splunk-james commented on #465
I was about to start looking into this exact thing and had started setting up a test range in ap-southeast-1 which supports mac1 dedicated instances, if there is anything I can do to help please let me know.

[2021-04-06 21:47] josehelps opened #477 "add note on password complexity required on the configuration tool"
In some cases the range will fail to build if the password defined does not meet a complexity criteria, we should check for this before starting a build.

[2021-04-06 21:49] josehelps opened #478 "Add an option to not use EIPs by default"
EIPs tend to be very limited in AWS resources, we should allow this as optional, otherwise some builds can fail with the following error:

[code]

[2021-04-14 12:34] ccl0utier commented on #478
Yes please.  With a default limit of 5 EIPs per account, most builds will likely fail in account that are already using for anything else.

[2021-04-14 12:39] ccl0utier opened #483 "Index "asx" is missing from the Attack Range build"
When building Attack Range, the `asx` index (which is used in the Attack Range Reporting Splunk app) is missing and has to be created manually.

[2021-04-27 09:09] P4T12ICK commented on #483
Thank you for this. We will fix that.

[2021-05-07 07:52] #421 closed, assigned to josehelps

[2021-05-07 07:52] #428 closed, assigned to nobody

[2021-05-07 07:52] #429 closed, assigned to nobody

[2021-05-07 07:54] #483 closed, assigned to nobody

[2021-05-07 07:56] P4T12ICK commented on #465
Hi @splunk-james, we are happy for every contribution. How was your first tests with the Mac instance?

[2021-05-07 07:57] P4T12ICK commented on #455
This is done. Thank you @ezzeldinadel

[2021-05-07 07:57] #455 closed, assigned to josehelps

[2021-05-07 07:57] #459 closed, assigned to nobody

[2021-05-07 07:58] #451 closed, assigned to josehelps

[2021-05-07 08:02] #432 closed, assigned to josehelps

[2021-05-07 08:36] P4T12ICK commented on #430
copy of another issue

[2021-05-07 08:36] #430 closed, assigned to nobody

[2021-05-07 08:37] #440 closed, assigned to josehelps

[2021-05-07 11:39] P4T12ICK commented on #478
Done

[2021-05-07 11:39] #478 closed, assigned to nobody

[2021-05-07 11:39] P4T12ICK commented on #441
Done

[2021-05-07 11:39] #441 closed, assigned to nobody

[2021-05-12 15:04] mikecybersec opened #494 ""WARNING, unable to determine the public ip""
When using Docker to configure the attack range, I'm getting the following

` > configuring attack_range settings
WARNING, unable to determine the public ip`

Is this caused by my AWS configuration?

[2021-06-06 02:09] josehelps commented on #494
I do not think so, usually that comes up when it cannot curl to `https://v4.ident.me`, check out the full function https://github.com/splunk/attack_range/blob/develop/modules/configuration.py#L210-L214, it just sets external_ip to empty. Should not have caused any issues in building I hope?

[2021-06-06 02:12] josehelps opened #504 "Define AWS IAM policies for building a range"
Today we tell users we require administrative access, this is too broad, we should define clear set of policies we need in order to build a range. A good starting place is: https://gist.github.com/clong/5eae6a83e6484bb2c01fa5e9cc6e8c9d. This was reported by Vishnuvardhan SB in user slack.

[2021-06-07 06:04] sbvishnu commented on #504
@d1vious
I tested it already with the policies defined in https://gist.github.com/clong/5eae6a83e6484bb2c01fa5e9cc6e8c9d. But I get the below error during the terraform initialization. Looks like the attack range needs more policies defined. Probably can you try adding 'DescribeAvailabilityZones’ to the policies list and see if that works?
![AvailabilityZones Error - Attack range](https://user-ima

[2021-06-11 01:58] #435 closed, assigned to josehelps

[2021-06-11 01:58] #463 closed, assigned to nobody

[2021-06-11 01:58] #468 closed, assigned to nobody

[2021-06-14 15:39] josehelps commented on #494
@mikecybersec hope this solved your issue, please let me know if it did not by replying to this comment.

[2021-06-14 15:39] #494 closed, assigned to josehelps

[2021-06-14 15:40] josehelps commented on #504
@patel-bhavin created a draft for a granular policy here: https://github.com/splunk/attack_range/wiki/Granular-AWS-policy

[2021-06-14 15:40] #504 closed, assigned to patel-bhavin

[2021-06-16 23:12] #477 closed, assigned to josehelps

[2021-06-29 01:18] josehelps opened #508 "Add ESXI Support"
This seems pretty straight forward enhancement to accomplish using the following terraform hooks: https://github.com/josenk/terraform-provider-esxi

This was request by a user via Twitter https://twitter.com/burning_pm/status/1409666768671436810?s=21

[2021-06-30 16:09] breakfixrepeat opened #509 "Terraform AWS - Nothing provisioned"
I've been trying to deploy the attack range on AWS and it's failing to deploy anything. Watching the cloudtrail events shows that it's only managed to describe a bunch of resources before failing to do anything else.

There's nothing useful in the terraform logs aside from a large number of TRACE events, the majority of which indicate that they are waiting on the network module to do its thing.

T

[2021-07-01 09:01] breakfixrepeat commented on #509
I've figured it out, AWS SSO doesn't store credentials in the .aws/credentials file so I need to figure out a way to get terraform to read the cached credentials file, or most likely extract the credentials from the cache to build the credentials file myself.

[2021-07-01 09:01] #509 closed, assigned to nobody

[2021-07-07 13:15] #465 closed, assigned to nobody

[2021-07-22 07:42] mHs-98 opened #517 "Support for openstack"
HI! A noob here, I would like to know if there is planned to add openstack support any soon. I would aso apprecite if someone could give me quick guide to add openstack support. I'm thinking using this as summer project. Thanks!

[2021-07-28 19:59] ljstella commented on #517
Hi @mHs-98

Thanks for checking out the project! We don't have any plans of our own to add Openstack support to the project right now, but I'd be more than willing to give you some pointers if you wanted to add it yourself. [Here](https://registry.terraform.io/providers/terraform-provider-openstack/openstack/latest) is the Openstack Terraform provider. I'd suggest looking through the AWS or Azure

[2021-07-29 11:28] sbvishnu opened #519 "Use of Private IP's to communicate with attack range machines"
I am trying to deploy splunk attack range on our aws environment. I am running an ubuntu 20.04 instance on aws which is running terraform and attack range. This also serves as the bastion host for my attack range machines. I can connect to the attack range machines only from this ubuntu host.

Now my requirement is, attack range machines should only be accessible from the bastion host using privat

[2021-07-30 08:50] sbvishnu commented on #519
I tried changing public to private on the below functions in TerraformController.py and aws_service.py scripts. But I get error for the variable highlighted in red. Any hints on what it should be replaced with?

![image](https://user-images.githubusercontent.com/77316914/127627517-942f5739-ccce-4ba7-9373-e50957395911.png)

[2021-07-30 19:13] sbvishnu commented on #519
Peter Gael helped on this. Creating a new get_single_instance_private_ip function with the below variables worked like a charm.!!
instance['NetworkInterfaces'][0]['PrivateIpAddress']

Thank you so much Peter Gael.

[2021-07-30 19:14] #519 closed, assigned to nobody

[2021-08-11 01:28] josehelps opened #520 "Issue with Kali marketplace image"
[code]
when attempting to opt  in you get:

![image](https://user-images.githubusercontent.com/1476868/128955807-7fdc766c-816c-4584-b0dc-f460bf347f63.png)

reported by Joerg Beckert via slack.

[2021-08-20 17:29] josehelps commented on #508
looked into this, unfortunatly to add ESXi only support would require some manual steps from a user to get things (like OS images) deploy which somewhat goes against the premise of being able to run things in a CI pipeline. The only way to have "automated" deployment into ESXi is if the customers purchases a vsphere license which is pricey :disappointed:

[2021-08-20 19:00] pmichaudrc commented on #508
Hey @d1vious how much more manual effort would it be? I understand it doesn't meet the idea of a CI pipeline, but curious as to what the additional lift would be for intervention.

[2021-08-26 03:44] adriankaylor commented on #520
The Kali ami name changed and needs updated filters.  If you edit terraform/aws/modules/kali_machine/resources.tf and change the following value it will pull the updated image.

OLD: values = ["kali-linux-2020*"]
NEW: values = ["kali-linux-2021*"]

[2021-09-09 18:02] philroyer-phantom opened #539 "missing permissions for ES on search head"
Hello!

I am hitting the following error:

`FATAL: Error in 'essinstall' command: (Exception) Missing capabilities to use essinstall command: edit_modinput_app_permissions_manager, edit_modinput_dm_accel_settings`

on Splunk Enterprise 8.2.1 with the installation of Enterprise Security 6.6.0.

The workaround seems to be to navigate to the role in the UI and add those two permissions.

[2021-09-29 00:06] patel-bhavin opened #543 "datamodels not accelerated by default"

[2021-09-29 00:07] patel-bhavin commented on #543
datamodels not accelerated by default when we build a fresh attack_range

[2021-10-07 04:37] davisshannon opened #546 "Fixes to WinRM Instructions"
The single quotes in the winrm settings in https://github.com/splunk/attack_range/wiki/Upload-Windows-10-AMI-to-AWS break the commands.

Under configure winrm:
winrm set winrm/config/winrs '@{MaxMemoryPerShellMB="300"}'

Should be
winrm set winrm/config/winrs @{MaxMemoryPerShellMB="300"}

Same for the others.

[2021-10-08 01:28] davisshannon commented on #546
Also, 300MB doesn't appear to be enough for certain tasks.  Not sure the lowest value to get away with is, but I set mine to 4096 and everything ran ok.

[2021-10-08 14:18] lzdx2812 opened #547 "Ubuntu - Issues with MTU white dlownloading"
Not directly involved with the Splunk Range but may help someone, I had issues with Ubuntu MTU while the script was setting up and downloading, important if you arre behind enterprise internet connection.. Set MTU to 1300

[2021-10-08 18:52] josehelps opened #548 "Make machines AMI configurable on attack_range.conf"
Allow users to pass their specific AWS AMI images in an easy way via the attack_range.conf versus just looking the [latest up](https://github.com/splunk/attack_range/blob/develop/terraform/aws/modules/windows-domain-controller/resources.tf#L2-L16). Ideally if the ami configuration parameter is not set, then the latest should be used, otherwise overwrite the latest image with the customer/user prov

[2021-10-08 19:08] josehelps opened #549 "Add a Attack Range AWS AMI"
Just like the docker container one this should help user get started with it faster.

[2021-10-08 19:13] josehelps commented on #546
hey made those adjustments, please let me know if it looks good to you :tada: https://github.com/splunk/attack_range/wiki/Upload-Windows-10-AMI-to-AWS

[2021-10-08 19:14] #543 closed, assigned to nobody

[2021-10-13 05:40] Ruvimal1997 opened #551 "Error launching source instance - This version has been removed and is no longer available to new customers."
When I run the build command of the attack range. I cannot accept the terms and subscribe due to the kali image not being available for new customers any longer

Error: Error launching source instance: OptInRequired: In order to use this AWS Marketplace product you need to accept terms and subscribe. To do so please visit https://aws.amazon.com/marketplace/pp?sku=89bab4k3h9x4rkojcm2tj8j4l

[2021-10-13 06:02] #551 closed, assigned to nobody

[2021-10-27 15:48] josehelps commented on #520
Thank you @adriankaylor I just made the fix, should address this.

[2021-10-27 15:48] #520 closed, assigned to nobody

[2021-11-11 08:05] #546 closed, assigned to josehelps

[2021-11-15 16:18] josehelps commented on #547
hey good heads up thank you @lzdx2812

[2021-11-15 16:18] #547 closed, assigned to nobody

[2021-11-15 16:18] #517 closed, assigned to nobody

[2021-12-24 22:06] jxsmith786110 opened #574 "Docker option in Azure - creation of VM fails"
Hello,

Using the Docker option #1 to build lab in Azure.  First issue was the Azure CLI command wasn't availabe and had to download for container separately in order to do "az login".  Second issue is everything seems to build fine, but it runs in to issue building Kali machine.  Only left with two virtual machines, the domain controller and splunk server.  It doesn't get to building client machi

[2021-12-25 04:49] jxsmith786110 commented on #574
I was able to run a one time "az vm image accept-terms" command against the kali image and that seems to have resolved the original issue.  However, now seeing this timeout error:

module.windows-domain-controller.azurerm_virtual_machine.dc[0]: Still creating... [5m50s elapsed]
module.kali_machine.azurerm_virtual_machine.kali[0]: Still creating... [5m50s elapsed]
module.kali_machine.azurerm_virtua

[2022-02-10 16:51] josehelps opened #580 "Support ART simulations on Linux hosts"
Today simulate does not work on linux based hosts: https://github.com/splunk/attack_range/blob/develop/ansible/roles/atomic_red_team/tasks/run_art_test.yml.

[2022-02-11 17:04] #539 closed, assigned to ljstella

[2022-02-28 18:49] rosplk opened #584 "Please add attack range build version"
Would be great to be able to track AR version including the related components (TA, dependencies, etc)

[2022-03-03 19:25] ccl0utier opened #585 "Troubleshooting section?"
It might be worth adding a quick section to the documentation about typical errors first time users might see and how to fix them?  And/or or a FAQ around typical configuration changes users might typically want to make?

For example in AWS:
- Missing subscriptions to Kali/NGINX in AWS Marketplace
- How to change the instance types used in building AR
- Hitting the limit number of Elastic IPs and

[2022-03-03 19:54] thatchihuahua opened #586 "Need help on VBoxManage: error: code NS_ERROR_FAILURE (0x80004005)"
Hi, Team.

When starting up Virtual Box VMs using vagrant in Ubuntu 18.04, after following the local installation instruction [here](https://github.com/splunk/attack_range_local/wiki/Ubuntu-18.04-Installation), we encountered an error shown in the picture :
![NS_ERROR_FAILURE0x80004005](https://user-images.githubusercontent.com/100874061/156641853-0edc3ca6-f01b-45e4-a06a-c2260e385958.png)

We appr

[2022-03-03 20:13] ccl0utier opened #587 "When Splunk ES is enabled, web access link should use HTTPS"
If you enable ES in Attack Range, Splunk will use HTTPS by default.

We should adapt the initial access link provided to users at the end of the build operation accordingly.

<img width="665" alt="image" src="https://user-images.githubusercontent.com/58239192/156645281-aa90b2c1-64b5-40c1-95fa-b40370f4ad84.png">

[2022-03-03 20:13] thatchihuahua commented on #586
Just found this closed issue which might help us solve this issue. Any inputs appreciated meanwhile going through below thread :
https://github.com/hashicorp/vagrant/issues/8687

[2022-03-11 15:01] ljstella commented on #587
This has been resolved. Pulling down the latest code should properly print a URL w/ `https` when ES is installed.

[2022-03-11 15:01] #587 closed, assigned to ljstella

[2022-03-22 12:58] P4T12ICK opened #595 "Phantom Instance AMI not available anymore"
the Phantom Instance AMI is not available anymore. We will need to change it to a new CentOs AMI.

[2022-03-22 14:21] ljstella commented on #595
Resolved via #596

[2022-03-22 14:21] #595 closed, assigned to nobody

[2022-03-29 11:47] askkemp commented on #586
I'm fairly certain my fix for this was to force it to be headless. I think I first deleted all of the VMs with `VBoxManage unregistervm` and also did a  `rm -Rf ./vagrant/.vagrant/`

All of the below originally said "true"

[code]

[2022-03-29 11:52] askkemp opened #598 "ImportError: cannot import name 'soft_unicode' from 'markupsafe'"
When running the initial deployment on Ubuntu 20.04.4 LTS with `ansible-galaxy collection install community.windows` the below error occurs.

[code]
I believe this is due to https://github.com/pallets/markupsafe/issues/284

The short-term fix is to add `MarkupSafe==2.0.1` into `requirements.txt`

[2022-03-29 12:00] askkemp opened #599 "VBoxManage cannot build network"
When deploying on Ubuntu 20.04.4 LTS, you get the below error message:

[code]

Per https://www.virtualbox.org/ticket/20626, VirtualBox 6.1.28 imposes additional control on the addresses that can be set for host-only interfaces. The fix is to allow all IP ranges for the interfaces.

Create `/etc/vbox/networks.conf` and add to it `* 0.0.0.0/0 ::/0`

[2022-04-07 17:50] ljstella opened #602 "Housekeeping"
- [ ] Replace PyInquirer w/ Questionary as done in [security_content](https://github.com/splunk/security_content/pull/2080)
- [ ] General cleanup of requirements.txt (lots to potentially remove)
- [ ] Get dependabot working again w/ auto-merge

[2022-04-11 18:08] #549 closed, assigned to nobody

[2022-04-11 18:12] josehelps commented on #585
absolutely I just gave [ccloutier-splunk](https://github.com/ccloutier-splunk) access to the repo, you should be able to write wiki articles now https://github.com/splunk/attack_range/wiki if you do not mind creating a new troubleshooting section and adding anything you think is relevant. Happy to seed it as well.

[2022-04-11 18:12] #585 closed, assigned to nobody

[2022-04-11 18:16] josehelps commented on #598
Hey thank you! We all barely use attack_range_local at this point, and mainly leverage this project for our day to day, unfortunately attack_range_local it is going unmaintained and likely will be deprecated and replaced with this project in the future. If you like to build this change as a PR against https://github.com/splunk/attack_range_local/pulls will happily approve it/merge it.

[2022-04-11 18:16] #598 closed, assigned to nobody

[2022-04-12 17:14] grumpalot23 commented on #548
Good afternoon Jose, just wanted to see if you had a chance to review this enhancement.

[2022-04-13 03:56] rcegan commented on #574
Bump. I'm running into all the above issues.

[2022-04-27 18:42] #580 closed, assigned to nobody

[2022-04-28 15:12] bcampru opened #608 "Using Attack Range with existing Splunk Instance"
Hello,

I'm deploying Attack Range on the Azure cloud, I was wondering if there is any way to configure attack range to work with an existing Splunk instance located in a different resource group than Splunk Attack Range.

The reason to do so is because we already have a Splunk lab with ES installed.

[2022-05-23 21:15] patel-bhavin opened #612 "Kali linux Missing on Azure"
Slack Thread Details: https://splunk-usergroups.slack.com/archives/CDNHXVBGS/p1653332688795899

[Matthew Whitener](https://app.slack.com/team/U03GLSD061H) from Splunk user group:

Hello everyone! I am trying to utilize splunk attack_range in azure from a macbook. I have followed the configuration settings on the github page but I am hitting errors during the build phase. It looks like I am in the

[2022-05-28 13:00] julianwieg opened #614 "python attack_range.py stop -> does not stop aws zeek instance"
Hi,

python attack_range.py stop   does not stop the aws-default-zeek instance.  latest docker build.

[2022-05-31 02:41] splunk-james opened #615 "when automatically installing ES (install_es = 1) the installer includes PySci/MLTK, this can cause conflicts and install of Splunk to fail"
Need a clause to disable installation of MLTK and PySci if ES being installed.  If the option to install ES is enabled in attack_range.conf the ES package includes the PySci and MLTK packages as well and will install them.  The current configuration when ES is selected will intermittently cause conflict with the individual installations of those packages resulting in splunk build process failing.

[2022-05-31 02:41] splunk-james commented on #615
"_raw","_time",component,"date_hour","date_mday","date_minute","date_month","date_second","date_wday","date_year","date_zone","event_message",eventtype,host,index,linecount,"log_level",punct,source,sourcetype,"splunk_server","splunk_server_group",tag,"tag::eventtype","thread_id","thread_name",timeendpos,timestartpos
"05-31-2022 02:33:31.978 +0000 ERROR ApplicationManager [7329 TcpChannelThread] -

[2022-05-31 02:42] splunk-james commented on #615
temporarily removing the tasks to install from ansible/roles/search_head/tasks/main.yml solves the issue

[2022-05-31 09:14] P4T12ICK commented on #574
i think they remove the Kali image from the Azure marketplace. Unfortunately, there is no easy fix for that. I hope the image will be uploaded again.
We will work on the first issue.

[2022-05-31 09:17] P4T12ICK commented on #612
The kali image is not available anymore in the Azure marketplace. That's why building a kali instance in Azure doesn't work in the moment.

[2022-05-31 09:22] P4T12ICK commented on #614
I will fix it. Thank you for reporting it.

[2022-05-31 10:31] P4T12ICK commented on #615
I'm not sure if that is the root cause why it failed in your case. I used the latest version of Attack Range and installed ES 7.0.1 and it worked for me.

[2022-05-31 10:38] splunk-james commented on #615
it is intermittent and I can reproduce this quite easily.  I am building from the attacl_range docker image and have been testing building 250 ranges for a workshop.  at one point it would fail 75% of the time.  other times less than 10% dpeending on download speeds etc I guess.  Have a look at the log dumps above you can see it is busy trying to read/write pysci.  When removed these from the main

[2022-05-31 10:39] splunk-james commented on #615
either way ES includes these files it makes no sense to install them twice if you are installing ES especially seeing pysci is 500MB in size

[2022-05-31 11:13] splunk-james commented on #615
just need an option that says do not process the task in main.yml for the search head for pysci and mltk if ES is being installed

[2022-06-01 00:25] splunk-james commented on #615
technically pysci, mltk and CIM should all be disabled if ES is being installed as ES will install those packages

[2022-06-01 09:11] P4T12ICK commented on #615
yeah we can add this. I will work on it.

[2022-06-01 12:03] #615 closed, assigned to nobody

[2022-06-09 00:51] josehelps opened #620 "Update reqs to python3.10 and replace PyIquirer"
most libs installed by req depend on python3.8, we should everything to latest 3.10. This causes the following error:
[code]

[2022-06-10 00:56] thatchihuahua commented on #586
Hi, askkemp! Thanks so much for helping, we're able to get through this

[2022-06-10 00:57] #586 closed, assigned to nobody

[2022-06-13 14:00] MHaggis opened #622 "Kali AWS Error During Docker Build"
Any clue on kali in aws error for a docker build of attack range? (edited)

Figured it out.
need to updated filter to use 2022 instead of 2021
filter {
name = "name"
values = ["kali-linux-2022*"]
}

/attack_range/terraform/aws/modules/kali_machine

reported in user group

[2022-06-19 12:44] walsung opened #624 "TypeError: check_for_generated_keys() takes 0 positional arguments but 1 was given"
Could you check what this error is when running    "python attack_range.py configure"? thanks

<tarting configuration for AT-ST mech walker

? select cloud provider aws
? enter a master password for your attack_range oHQk9O

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/questionary/prompt.py", line 159, in unsafe_prompt
    if not question_config["when"](answer

[2022-06-19 12:44] walsung opened #625 "TypeError: check_for_generated_keys() takes 0 positional arguments but 1 was given"
Could you check what this error is when running    "python attack_range.py configure"? thanks

<tarting configuration for AT-ST mech walker

? select cloud provider aws
? enter a master password for your attack_range oHQk9O

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/questionary/prompt.py", line 159, in unsafe_prompt
    if not question_config["when"](answer

[2022-06-19 14:33] josehelps commented on #625
duplicate of https://github.com/splunk/attack_range/issues/624

[2022-06-19 14:33] #625 closed, assigned to nobody

[2022-06-19 14:35] josehelps commented on #624
hey @walsung thank you so much for reporting this :bug: , last week we made some code [changes](https://github.com/splunk/attack_range/pull/623) to migrate from pyinquire to questionary that introduced this, I just pushed an [update](https://github.com/splunk/attack_range/commit/6612da25246103b5d884bbd175d8af8253da5adb) that should solve it. Please give it another try and let me know if it is work

[2022-06-19 14:36] josehelps commented on #620
resolved here https://github.com/splunk/attack_range/pull/623

[2022-06-19 14:36] #620 closed, assigned to josehelps

[2022-06-19 14:38] josehelps commented on #584
hey the TAs, deps etc.. are tracked in the configuration file of the attack_range, the actual range version is can be seen here:
[code]

[2022-06-19 14:38] #584 closed, assigned to nobody

[2022-06-19 14:41] josehelps commented on #599
Hey I do not think this is applicable here since the attack_range does not use virtualbox.

[2022-06-19 14:41] #599 closed, assigned to nobody

[2022-07-12 09:36] mteodor1 opened #631 "Error: Unsupported attribute - This object does not have an attribute named "splunk_dashboard_beta""
Hi there,

I tried to install Splunk Attack Range on my WSL (Linux 5eb934bf7388 5.10.102.1-microsoft-standard-WSL2) with Ubuntu 22.04 LTS as distribution using Azure, but I get the following errors (see below). Can you check it, please?

`╷
│ Error: Unsupported attribute
│
│   on ../modules/splunk-server/resources.tf line 73, in resource "azurerm_virtual_machine" "splunk":
│   73:     command = "A

[2022-07-13 05:56] P4T12ICK commented on #631
Hello, I fixed it and tested it with WSL. Can you please do a git pull and check if it works now? Thank you.

[2022-07-14 12:59] lukas-foro opened #633 "local-exec provisioner error"
Even though after installing everything right and using azure, i get this error all the time.
![image](https://user-images.githubusercontent.com/108251491/178987530-c69a3836-f23c-45f7-b981-430cff04a2bc.png)
I already tried building the attack range with the windows domain controller only and it worked.
Somehow I noticed, when using multiple vm's I get this error and i don't know how to fix this.
T

[2022-07-14 13:02] P4T12ICK commented on #633
Hello, let me fix it.

[2022-07-14 13:41] P4T12ICK commented on #633
this should be fixed. Please try again

[2022-07-15 06:39] lukas-foro commented on #633
It works, thanky you very much!

[2022-07-18 10:05] lukas-foro commented on #633
Oooops, i did it again!

![image](https://user-images.githubusercontent.com/108251491/179489154-6d3a1090-7c6f-4a2e-be0c-6acd24c522f7.png)

This happens, when I am using...:
- Windows Domain Controller
- Windows Server
- Windows Client
- Kali Linux
- Linux Machine
...paired with badblood

[2022-07-19 09:56] P4T12ICK commented on #633
Let me check.

[2022-07-19 11:16] P4T12ICK commented on #633
Please try it again. Kali Linux is currently not working because the image is currently not available in the Azure market store.

[2022-07-20 13:58] lukas-foro commented on #633
Thanks!

[2022-07-20 13:58] #633 closed, assigned to nobody

[2022-07-21 07:44] #631 closed, assigned to P4T12ICK

[2022-07-21 07:44] #624 closed, assigned to josehelps

[2022-07-21 07:44] #622 closed, assigned to MHaggis

[2022-07-21 07:48] P4T12ICK opened #636 "Support for VMWare vSphere"
Support for VMWare vSphere as another environment to build the Attack Range.

[2022-07-21 17:59] salmiery commented on #608
I would like this feature as well

[2022-07-25 13:08] lukas-foro opened #638 "Kali Linux"
I didn't find any answers regarding this topic. All we know is, that there is no Kali Linux image in the marketplace in Azure at the moment. Are there any infos when we get an image again?

[2022-07-25 15:02] ljstella commented on #602
Fixed in upcoming/previous work

[2022-07-25 15:02] #602 closed, assigned to ljstella

[2022-07-25 15:19] P4T12ICK commented on #638
The official Kali Linux Image from Offensive Security is not available anymore over the Azure marketplace. See for example discussions in this thread:
https://www.microsoftpartnercommunity.com/t5/Microsoft-AppSource-and-Azure/Kali-Linux-Image-Missing-in-Azure-Marketplace/m-p/54479

[2022-07-28 08:00] restinlinux opened #639 "error:local-exec provisioner error"
got this error while building the instances , help me out here to resolve this. what am i missing here . Thanks!

Error displaying :

│ Error: local-exec provisioner error │ │ with module.splunk-server.aws_instance.splunk-server, │ on ../modules/splunk-server/resources.tf line 47, in resource "aws_instance" "splunk-server": │ 47: provisioner "local-exec" { │ │ Error running command 'ANSIBLE_HOST_K

[2022-07-28 13:07] josehelps commented on #639
@restinlinux looks like connection was lost to the windows host during build time
[code]

Is this happening on consecutive builds?

[2022-07-29 06:00] lukas-foro commented on #638
Thank you very much.

[2022-07-29 06:00] #638 closed, assigned to nobody

[2022-07-29 07:39] lukas-foro opened #640 "Connect to VM's"
Hello!
My question is: Can you connect somehow to the virtual machines, generated by the Attack Range. Like via RDP or SSH.

[2022-07-29 07:44] P4T12ICK commented on #640
yes you can. After a successful build it will give you the IP addresses, ssh commands and so on. You can use the printed ssh command to ssh into the splunk server and other linux servers. You can use Remote Desktop to RDP into the Windows Servers.

[2022-07-29 07:53] lukas-foro commented on #640
Okay, so i got the IP address for the windows client. I type in the ip address and what are the credentials? admin + password i created earlier, right?

[2022-07-29 09:28] P4T12ICK commented on #640
it is the attack_range_password value from attack_range.conf and the user is Administrator. It should diplay this information when you run:
python attack_range.py show

[2022-07-29 09:41] lukas-foro commented on #640
Well, it doesn't show information about the user sadly. Just name of the vm and the ip address.
Furthermore it also doesn't work connecting via RDP. Your credentials did not work.

[2022-07-29 09:49] P4T12ICK commented on #640
are you on AWS or Azure. In Azure the user name is AzureAdmin

[2022-07-29 13:47] ccl0utier opened #641 "Zeek Package not found"
When trying to build AR with the Zeek sensor enabled, the build phase fails when trying to install the `zeek` package via the relevant Ansible playbook:

[code]

Line 43 of: [zeek.yml](https://github.com/splunk/attack_range/blob/develop/ansible/roles/zeek_sensor/tasks/zeek.yml)
[code]

It seems the package has been renamed to `zeek-lts`, as per [this](https://software.opensuse.org/download.html?pr

[2022-07-29 14:03] ccl0utier opened #642 "Ansible Error copying nginx.conf"
When building AR with the NGINX web server enabled, the build fails wtih:

[code]

This seems to be caused by the use of the `file` Ansible module (at line 3 of [nginx_web_proxy.yml](https://github.com/splunk/attack_range/blob/develop/ansible/roles/nginx_web_proxy/tasks/nginx_web_proxy.yml)), instead of the `copy` one.  Changing it to `copy` fixes the issue.

[2022-07-29 16:37] josehelps commented on #608
Hey @bcampru @salmiery I will make sure we look into this feature in our next release (post 3.0)

[2022-07-29 16:38] josehelps commented on #612
duplicate of  #548  #548

[2022-07-29 16:39] josehelps commented on #614
fixed. thank you again for raising @julianwieg

[2022-07-29 16:39] #614 closed, assigned to P4T12ICK

[2022-07-29 16:41] josehelps commented on #641
fixed by you @ccl0utier thank you again for the contribution :heart:

[2022-07-29 16:41] #641 closed, assigned to nobody

[2022-07-29 16:41] josehelps commented on #642
fixed already by you thank you again for the contribution @ccl0utier :heart:

[2022-07-29 16:41] #642 closed, assigned to nobody

[2022-07-31 05:40] restinlinux commented on #639
yes,  tried building a windows domain controller. over the aws console the instance was created along with ssh rule but idk why local-exec error pops failed to connect the host via ssh.

[2022-08-02 06:13] lukas-foro commented on #640
Sorry for the late reply.
On Windows it works, but not on the linux machine via ssh.

[2022-08-02 07:44] lukas-foro commented on #640
Actually, i don't even have the ip address for the sysmon-linux machine.

[2022-08-02 08:48] lukas-foro commented on #640
I didn't find any linux machine on splunk, which is getting logged. Maybe there is a configuration error, and it isn't getting built. I can't even find it via the show command. On Azure, there is also no resource about the linux machine.

[2022-08-02 08:57] lukas-foro commented on #640
Furthermore, i noticed, linux sysmon is not supported by the attack range for Azure. There is no terraform template in the folder of azure. Will there be a fix?

[2022-08-04 06:18] lukas-foro opened #646 "Connect to VM's"
This ticket is already open at this link.
https://github.com/splunk/attack_range/issues/640

Reply takes a bit now, just wanted to make sure.

[2022-08-04 06:25] P4T12ICK commented on #640
In our next big release Attack Range 3.0, there will be a linux machine for Azure containing Sysmon for Linux and OSQuery.

[2022-08-04 06:25] #646 closed, assigned to nobody

[2022-08-04 06:30] lukas-foro commented on #640
Thank you very much for this information.

[2022-08-04 06:30] #640 closed, assigned to P4T12ICK

[2022-08-19 15:54] ccl0utier opened #649 "Trying to run a simulation on a stopped AR should fail with a user-friendly message"
When trying to run a simulation on a stopped AR, it would be nice to provide a more user-friendly message.

![image](https://user-images.githubusercontent.com/58239192/185658422-b7a92794-f828-41fe-852f-d8ac7dd2960f.png)

Also, cosmetic only, but the messages about the AR when using `show` could also be skipped when it's in stopped state.  Currently it gives:

<img width="846" alt="image" src="http

[2022-08-19 16:18] ccl0utier opened #650 "Trying to run a PurpleSharp simulation technique runs nothing"
Trying to run a specific technique using PurpleSharp results in nothing being run.

For example:
`python attack_range.py simulate -e PurpleSharp -st T1110.003 -t ar-win-dc-default-ec2key-mon-canlab-01`

Results in:
![image](https://user-images.githubusercontent.com/58239192/185662722-ced0808c-bc74-42ce-920a-98cdb71cb443.png)

*Expected:* The Ansible tasks should be included for the relevant techni

[2022-08-24 09:32] lukas-foro opened #654 "Azure VM sizes"
Just wanted to ask, if you tested out the Azure VM sizes, for optimal cost reduction and performance. Currently the Splunk AR VM's are using `Standard D4 v4 (4 vcpus, 16 GiB memory)`

[2022-08-30 11:30] tccontre opened #656 "kali - unreacheable problem"
while building the attackrange 2.0 I encounter handshake failure in kali box

![Screenshot 2022-08-30 at 11 17 10](https://user-images.githubusercontent.com/26181693/187425400-76fb4f4b-9f2b-4386-bba2-69a84f038671.png)

I thought it is about my key but when I use the ssh after the build I was able to ssh the kali box.

![Screenshot 2022-08-30 at 11 20 12](https://user-images.githubusercontent.com/2

[2022-09-02 10:26] lukas-foro opened #657 "Azure Marketplace holds a Kali Linux VM again"
Hello!

The Azure Marketplace holds a Kali Linux VM again. Is there any possibility that you can implement it?
https://azuremarketplace.microsoft.com/en-us/marketplace/apps/kali-linux.kali?tab=Overview

Thanks for your feedback!

[2022-09-08 15:53] ccl0utier opened #658 "Add Splunk Sankey Diagram - Custom Visualization to the list of apps deployed with AR"
We should add the [Splunk Sankey Diagram - Custom Visualization](https://splunkbase.splunk.com/app/3112/) app as part of the default application deployed with Attack Range.

It's used in some new panels of the [Splunk Attack Range Reporting](https://github.com/dlamspl/splunk_attack_range_reporting) app since v1.0.7.

[2022-09-08 18:01] ccl0utier opened #659 "Add TA-aurora to AR"
We should look into deploying [TA-aurora](https://github.com/NextronSystems/TA-aurora) as part of Attack Range when the Aurora EDR agent is configured (`install_aurora_agent = 1`).

Deploying it after the fact manually is not as practical given that the TA has index-time extractions.

We should use the updated TA [here](https://github.com/NextronSystems/TA-aurora/releases) (version **0.2.0** - whi

[2022-09-09 07:31] P4T12ICK commented on #657
Thank you for the feedback. We will add it.

[2022-09-09 07:32] P4T12ICK commented on #656
#660

[2022-09-09 07:33] P4T12ICK commented on #656
fixed

[2022-09-09 07:33] #656 closed, assigned to nobody

[2022-09-09 07:34] P4T12ICK commented on #654
In our case, we run often Enterprise Security and therefore having 4 CPUs and 16GB memory is the minimum.

[2022-09-09 10:46] lukas-foro commented on #657
Thank you very much!

[2022-09-09 10:46] #657 closed, assigned to nobody

[2022-09-09 10:46] lukas-foro commented on #654
Thank you very much!

[2022-09-09 10:46] #654 closed, assigned to nobody

[2022-09-13 06:42] #650 closed, assigned to mvelazc0

[2022-09-13 06:42] #636 closed, assigned to P4T12ICK

[2022-09-13 06:42] #548 closed, assigned to P4T12ICK

[2022-09-13 06:43] P4T12ICK commented on #574
This should work again

[2022-09-13 06:43] #574 closed, assigned to nobody

[2022-09-13 06:45] P4T12ICK commented on #608
Hey @bcampru @salmiery, we already have a early preview branch ready with the Attack Range 3.0 which has this feature included when you  already want to try it out:
https://github.com/splunk/attack_range/tree/attack_range_3

[2022-09-13 06:47] P4T12ICK commented on #639
Attack Range will build and configure the Domain Controller for you. There is no need to build it over the AWS console. Were you able to solve your problems?

[2022-09-13 07:22] P4T12ICK commented on #658
Will be in Attack Range 3.0 #637

[2022-09-13 07:22] #658 closed, assigned to nobody

[2022-09-13 13:13] bcampru commented on #608
Thank you very much!

[2022-09-13 20:55] josehelps opened #663 "attack_range 3 local error"
[code]
fails on latest Ubuntu due to missing
[code]

even after vagrant is installed on attack_range_3

[2022-09-19 13:28] P4T12ICK commented on #663
We probably should add this to the docs page, isn't it?

[2022-09-19 14:48] josehelps commented on #663
or maybe an install script for each OS similar to before?
I think we need to install the latest packer from hashicorp as well, the one that comes from apt-get repos is too old.

[2022-09-19 16:54] P4T12ICK commented on #612
this should be fixed

[2022-09-19 16:54] #612 closed, assigned to nobody

[2022-09-28 12:41] ccl0utier opened #667 "AMI not found trying to build phantom-server"
When trying to build an Attack Range on AWS with Phantom Server enabled (`phantom_server = 1`) fails when trying to use the latest CentOS 7 AMI from Marketplace.

![image](https://user-images.githubusercontent.com/58239192/192780784-9954abfb-a1d6-4a5d-86c3-ad2b5656310e.png)

Checking AWS Marketplace confirms that AMI image name is no longer available and has likely been replaced by the following:

[2022-09-28 16:28] ljstella commented on #667
Hey @ccl0utier

I think you might need to refresh your repo. In the existing develop branch on splunk/attack_range, the filter is here: https://github.com/splunk/attack_range/blob/7c3952ad8705ffda839409fd8e101cf439e2bb63/terraform/aws/modules/phantom-server/resources.tf#L10

It looks like the version you were using that was broken is an older version using an "official" image from CentOS that no l

[2022-09-28 18:10] ccl0utier commented on #667
@ljstella Correct and I realized that after doing the PR.  Thanks for pointing that out.  Having said that, I think using `product-code` as opposed to a fixed AMI name would likely be a better way of future-proofing this?

What do you think?

[2022-10-06 20:13] Pusherman2 commented on #663
Hi, @d1vious - asking my question in this issue as it might be related. Is a local install for Splunk Attack range possible or will it be possible in the future?

The older repo: https://github.com/splunk/attack_range_local is quite outdated and it would be nice to be able to run it locally as the costs for running it continuously on AWS/Azure etc could ramp up the costs quite quickly.

Kind regar

[2022-10-11 14:36] josehelps opened #669 "Add per instance type on the config"
this way a user can configure individual instances size and types dynamically depending on their needs.

[2022-10-11 15:12] josehelps commented on #663
Hey we just did: https://github.com/splunk/attack_range/releases/tag/v3.0.0
Also not getting this anymore :smile:

[2022-10-11 15:12] #663 closed, assigned to nobody

[2022-10-11 17:11] Pusherman2 opened #670 "Building local - Ansible permissions error for splunk server"
Hi there,

First of all, amazing work with releasing version 3.0 and allowing local deployments!

However, after configuring and running the build command, the vagrant deployment will hang with the following error message:

`TASK [set_hostname_linux : Change the hostname]
ok: [ar-splunk-attack-range-key-pair-ar]

TASK [splunk_server_post : change password splunk]
fatal: [ar-splunk-attack-range-key

[2022-10-11 17:26] Pusherman2 commented on #670
Note: this was selecting to use the packer option, when unselecting this option, it will build successfully.

Edit: A different error pops up for the Windows-Server image:
`TASK [windows_common : debug] **************************************************
fatal: [ar-win-attack-range-key-pair-ar-0]: FAILED! => {"msg": "The conditional check 'use_prebuilt_images_with_packer == \"0\"' failed. The error

[2022-10-12 08:33] P4T12ICK commented on #608
this is now merged into develop

[2022-10-12 08:33] #608 closed, assigned to josehelps

[2022-10-12 08:34] #639 closed, assigned to josehelps

[2022-10-12 11:04] P4T12ICK commented on #649
this should be fixed in Attack range 3

[2022-10-12 11:04] #649 closed, assigned to P4T12ICK

[2022-10-12 11:06] P4T12ICK commented on #659
this is done

[2022-10-12 11:06] #659 closed, assigned to nobody

[2022-10-12 12:15] P4T12ICK commented on #667
I think the combination of CentOS Linux 7* as name in the filter and most_recent=true should give as the latest CentOs 7 image. Let me try it.

[2022-10-12 12:19] #670 closed, assigned to josehelps

[2022-10-12 12:23] ccl0utier commented on #667
As a side note, I went with what's documented under "Finding AMI Ids" on the [CentOS Official Wiki](https://wiki.centos.org/Cloud/AWS#Official_and_current_CentOS_Public_Images) for the proposed initial PR.

[2022-10-12 13:56] P4T12ICK commented on #667
It should be fixed. Thank you

[2022-10-12 13:56] #667 closed, assigned to P4T12ICK

[2022-10-12 16:35] josehelps opened #680 "Add documentation to readthedocs for guacamole"
right now there is no mention of this feature on readthedocs.

[2022-10-13 06:22] WOOOOONG opened #681 "I have a question"
Hello. I am a Yeungnam University College student in South korea. So my English is not good.
I am studying BAS(Breach and Attack Simulation) for to use my graduation project.
I want to make BAS like attack_range or use attack_range.

My attack server(ip: 192.168.13.1) do simulate attack(ex; T1003) to victim server(ip: 192.168.130.1) in another server.

1. How can I use attack_range? or Does attack

[2022-10-13 08:04] zeflow opened #682 "Deployment error in splunk server due to malformed line in apt/sources.list"
When building the splunk server a warning appears. This prevents the continuation of the build.
I have inspected /apt/sources.list on rule 50 however it appears to be just a comment line.
not sure why it is malformed.

![image](https://user-images.githubusercontent.com/1607691/195538295-2b732108-4f2b-41f5-b4d8-7ca94dd7faea.png)

[2022-10-13 08:32] P4T12ICK commented on #682
I will have a look. thank you for your issue

[2022-10-13 08:40] P4T12ICK commented on #681
Hello, the Attack Range builds the complete infrastructure in AWS, Azure or local with Virtualbox.
In Attack Range, we use Atomic Red Team and Prelude to only attack the Attack Range infrastructure and not outside of Attack Range.
In order to run Atomic Red Team remote, you can use the project Invoke Atomic Red Team. Here is a wiki article describes how to execute an atomic on a remote system:
htt

[2022-10-13 08:41] P4T12ICK commented on #682
Can you try it again? I assume there was some packages issue in the ubuntu repository (nothing to do with Attack Range). Without any changes, it's working for me in the moment.

[2022-10-13 08:45] WOOOOONG commented on #681
Thank you for your kindness.

[2022-10-13 08:45] #681 closed, assigned to nobody

[2022-10-14 06:16] P4T12ICK opened #683 "Add disable elastic IPs through configuration"

[2022-10-14 06:26] dluxtron commented on #683
That would be great, thanks Patrick!

[2022-10-16 02:33] lukas-foro opened #685 "Provider produced inconsistent final plan"
Hello!
Looks like after building this error comes up. It happens only on the windows machine. I am trying to get it to work on Azure.
![image](https://user-images.githubusercontent.com/108251491/196015122-9f70e9cc-c893-4fac-b676-80bf91c272f7.png)
Could you guys assist here?
Thanks!

[2022-10-17 08:23] #683 closed, assigned to nobody

[2022-10-18 07:41] P4T12ICK commented on #685
Hi Lukas,
I never saw this issue before. I think it could be realtred to the Azure Provider in Terraform. I think it is not a bug in Attack Range. We have a nightly job which test the Attack Range in Azure and this one was successful.
https://github.com/splunk/attack_range/actions/runs/3263665206/jobs/5363075605
Can you double-check on your side and make sure you destroyed everything before you tr

[2022-10-18 14:03] lukas-foro commented on #685
Yep, I am sry, seems like it had some conflicts with another attack range which got deployed. Thanks for your help!

[2022-10-18 14:03] #685 closed, assigned to nobody

[2022-10-20 09:44] siddharth-khatsuriya opened #689 "Need a "Bring your own Splunk" option back for provider"
The Splunk add-on development teams  have been using attack_range to execute the [security_content](https://github.com/splunk/security_content) test-suite on their respective add-ons. There is a major change introduced as a part of v3.0.0 which is causing disruption in 60+ splunk addons ESCU tests.

In V2.0.0, there used to be an `orca` provider that could be used when there is an existing Splunk

[2022-10-20 09:59] siddharth-khatsuriya opened #690 "attack_range.py tests argument does not exist in V3.0.0"
The Splunk add-on development teams have been using attack_range to execute the [security_content](https://github.com/splunk/security_content) test-suite on their respective add-ons. There is a major change introduced as a part of v3.0.0 which is causing disruption in 60+ splunk addons ESCU tests.

Until V2.0.0 there used to be a test argument in attack_range.py file which was used to execute the

[2022-10-20 10:27] P4T12ICK commented on #690
I was not aware that this is command is used by your team. I will make sure to add it again as it was before.

[2022-10-20 10:30] P4T12ICK commented on #690
until then, you can always download the v2.0.0 release or the develop branch with the following commit c799bf61327f819e7d777df4dfa1f8464f79fac8 , which was before we merged in the new changes.

[2022-10-20 12:11] P4T12ICK commented on #690
We want to migrate the testing feature to contentctl. Can you please use either Attack Range 2.0 release or the develop branch with commit c799bf61327f819e7d777df4dfa1f8464f79fac8. We will let you know when the new feature is available in contentctl.

[2022-10-25 17:14] 7h3sil3nce-splunk opened #691 "Attack Range Local docs lack information on Linux and OSX versions that can be used"
The current 3.0 docs for Attack Range Local builds is limited in documentation on what versions the build will work on.

https://attack-range.readthedocs.io/en/latest/Attack_Range_Local.html

[2022-10-25 17:58] josehelps commented on #691
For clarity the versions of the OSes supported are not called out, I can easily add these for sure, thank you for raising it.

[2022-11-01 18:06] josehelps opened #694 "nginx server not working"
module.splunk-server.aws_instance.splunk-server[0]: Creation complete after 17m54s [id=i-06194c3d26b3c7222]
module.splunk-server.aws_eip.splunk_ip[0]: Creating...
module.splunk-server.aws_eip.splunk_ip[0]: Creation complete after 2s [id=eipalloc-0b30e22c20a597e2c]

Error: Error running command 'ANSIBLE_HOST_KEY_CHECKING=False ansible-playbook -u ubuntu --private-key /home/jhernandez/splunk/attack_

[2022-11-01 18:08] josehelps opened #695 "Issue with Phantom CentOS image"
[code]

[2022-11-05 23:06] josehelps opened #696 "Attack Range local throws packer error"
![image](https://user-images.githubusercontent.com/1476868/200144867-cac1ccf6-1408-473d-adba-a334ff091acb.png)

seems like this is not passed as an empty variable when building windows server 2016

[2022-11-08 11:52] G20100 opened #697 "Terraform error with "unsupported attribute" in build command."
Hi,
I got an "unsupported attribute" error in the "attack_range.py build" command.
I enabled the WindowsDC and WindowsServer flug with attack_range.py configure command.

![image](https://user-images.githubusercontent.com/19428350/200555909-3a048cdf-fa15-4495-a2b8-620ef123bd75.png)

[2022-11-09 10:18] pioootrek opened #698 "After adding phantom to working configuration build fails"
Hello Team,

below details:

First Error while creating golden image for phantom.

[code]
Second related to centos ami:

[code]
But also windows ami arror apperas.

[code]

My config:

[code]

If I remove ```phantom_server``` section from yml, it builds without errors.

[2022-11-09 13:22] ccl0utier commented on #697
Can confirm, I've run into the same issue.

[2022-11-09 13:35] ccl0utier opened #699 "Error in Ansible building the packer image for Zeek"
<img width="986" alt="image" src="https://user-images.githubusercontent.com/58239192/200843843-31fe47af-b2f0-462c-b0d4-9ca14301c6fc.png">

Seems to be related to the OpenSUSE repo.

[2022-11-09 14:27] ccl0utier opened #700 "Document `use_elastic_ips` parameter for AWS"
We should add the `use_elastic_ips` parameter to the Attack Version 3 new documentation.

[2022-11-10 10:31] pioootrek opened #701 "After restartting container, python dependencies are missing"
Hello,

After restartring running container, fllowing error appears (always):

[code]

Trying to fix it reveals more missing deps:

[code]
Next step:

[code]
Final error that I don't know how to fix:

[code]

[2022-11-10 14:51] josehelps commented on #701
@pioootrek did you try poetry shell to get back to the virtualenv with all the deps. I t think that might have been the issue here. During install this happens automatically, you might have been kicked out when restarting the instance: https://github.com/splunk/attack_range/blob/develop/docker/docker-entrypoint.sh#L3

[2022-11-10 18:08] pioootrek commented on #701
Hello @josehelps . You were right. When acivate virtualenv manually, it works and there are no dep errors.

[code]

Strange, that in first connection to fresh container, it activates virtualenv automatically.

[2022-11-10 18:32] anshmax commented on #574
Hey guys -

I am running into a similar issue described above. I am using the AWS docker option to build Attack Range, but am facing the below timeout error. All resources are being built successfully but because of the timeout error I cannot access Splunk Web using the IP addresses provided. Any suggestions on how to remediate this?

module.windows-server.aws_instance.windows_server[0]: Creation

[2022-11-10 18:44] josehelps commented on #701
yeah, it is part of the `entrypoint.sh` but I am not sure that gets ran during restarts, glad we got to the bottom of it!

[2022-11-10 18:44] #701 closed, assigned to josehelps

[2022-11-10 18:59] mikeloether commented on #696
I am seeing the same. Error text below:

`TASK [windows_common : debug] **************************************************
fatal: [ar-win-attack-range-key-pair-ar-0]: FAILED! => {"msg": "The conditional check 'use_prebuilt_images_with_packer == \"0\"' failed. The error was: error while evaluating conditional (use_prebuilt_images_with_packer == \"0\"): 'use_prebuilt_images_with_packer' is undefined

[2022-11-10 21:59] anshmax commented on #697
I am facing a similar issue - but its a remote-exec provisioner error. However, on a separate attempt - I have faced issues with building windows_ami

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/7013218/201214542-3f7db5ff-725c-4cb6-ad8f-8ccf78afcf4f.png)

[2022-11-11 16:56] ljstella commented on #698
Hi @pioootrek

Sorry about that, we're in the process of re-working how Splunk SOAR is built in the attack_range and are aware that its currently not functioning.

I'm looking into the Windows Server issue you're having as well.

[2022-11-14 06:30] rcegan opened #702 "Ansible error on local build - Failed to set permissions on the temporary files"
![image](https://user-images.githubusercontent.com/5835816/201590408-004d6db2-996f-4e25-a7d1-3f05dff5706c.png)

Triggers when Ansible gets up to the "splunk_server_post.yml" step. I've tried allowing global access to tmpfiles but didn't seem to make a difference (See: https://stackoverflow.com/questions/46352173/ansible-failed-to-set-permissions-on-the-temporary)

[2022-11-15 17:37] josehelps opened #706 "New configuration does not ask user for badblood or install red team tools"
This was raised in user slack, looks like folks liked having this as part of configure, we should re-add it.

[2022-11-16 14:45] ccl0utier opened #709 "Add a user-friendly message when a selected technique has no test"
Currently, trying to run tests using Atomic Red Team on a technique that has no test results in an error hidden in Ansible's output.  The Ansible task also does not report it (returns ok).

Here's an example:

![image](https://user-images.githubusercontent.com/58239192/202211277-cf0a21c8-b8bf-4ee4-ae46-69306356c729.png)

It would be nice to check if a request technique has at least one applicable

[2022-11-16 15:22] josehelps commented on #508
Maybe using vagrant VMware workstation provider is an alternative https://developer.hashicorp.com/vagrant/docs/providers/vmware

specifically on this code https://github.com/splunk/attack_range/blob/develop/vagrant/windows_server/Vagrantfile#L54-L61

[2022-11-18 21:11] hunter-3 opened #712 "The Vagrant executable cannot be found. Please check if it is in the system path."
This pops up when you run different commands. If this is not an error or is needed for the different commands can it be removed.

[2022-11-21 09:51] P4T12ICK commented on #689
The orca option doesn't exist anymore but you can define a "Bring your own Splunk" in the config:
https://github.com/splunk/attack_range/blob/develop/configs/attack_range_default.yml#L48

[2022-11-21 10:00] #682 closed, assigned to P4T12ICK

[2022-11-21 10:00] #690 closed, assigned to nobody

[2022-11-21 10:01] #691 closed, assigned to josehelps

[2022-11-21 10:17] P4T12ICK commented on #697
hello, can you make sure that you have the latest version of develop branch and that you create a new attack_range.yml configuration file. A couple weeks ago the option windows_ami was renamed to windows_image. That could be the reason. The other important thing is that you need to define a list under windows_servers like this for example:
[code]
Let me know if the problem still persists.

[2022-11-21 10:25] P4T12ICK commented on #702
I was not able to reproduce the issue. Can you shore your attack_range.yml configuration? Which OS do you use?

[2022-11-21 17:30] ccl0utier opened #713 "Documentation for PurpleSharp simulation should be corrected"
Trying to follow the [documentation](https://attack-range.readthedocs.io/en/latest/Attack_Simulation.html#purple-sharp) to run a PurpleSharp playbook does not seem to work.

![image](https://user-images.githubusercontent.com/58239192/203121621-149ef95b-0783-4557-9106-22a3e00dc1ae.png)

I had to change my command to:

`python attack_range.py simulate -e PurpleSharp -t ar-win-ec2key-mon-canlab-01-ar

[2022-11-21 17:33] cmoreno94 commented on #694
Hi! I do not have any idea about Ansible, but I checked the tag=v2.0.0 and I found a file called "nginx_web_proxy.yml" in [ansible/playbooks](https://github.com/splunk/attack_range/tree/v2.0.0/ansible/playbooks) with the following content:

[code]

So I added this file to packer/ansible/nginx_web_proxy.yml and it works.

[2022-11-21 17:55] mvelazc0 commented on #713
Thanks @ccl0utier

Just fixed it in the develop branch.

https://github.com/splunk/attack_range/commit/1573e79cdd3a45289ecc368c8d4aecb264e57905

[2022-11-21 17:55] #713 closed, assigned to nobody

[2022-11-21 20:38] ccl0utier opened #714 "Log PurpleSharp test results to Attack Range"
It would be nice for PurpleSharp unit tests / playbook tests output to also be logged to `index = attack` like Atomic Red Team test results.

This could be achieved by adding the output file to the current list of monitored files in the Universal Forwarder inputs.
E.g., for ART:  https://github.com/splunk/attack_range/blob/develop/packer/ansible/roles/windows_universal_forwarder/files/atomic_red_t

[2022-11-22 01:03] josehelps commented on #712
[code]
This should be removed on docker.

[2022-11-22 23:11] jhodgkinson-splunk commented on #699
It looks like they've removed the packages for 18.04 - they're only building for 20.x and above https://build.opensuse.org/repositories/security:zeek

[2022-11-24 11:40] P4T12ICK commented on #712
This is fixed

[2022-11-24 11:40] #712 closed, assigned to nobody

[2022-11-24 13:32] P4T12ICK opened #717 "Update Splunk SOAR Installation Process"
The Splunk SOAR Installation Process changed with version 5.3.
In future, a manual download to apps folder is needed.

[2022-11-24 15:11] P4T12ICK commented on #695
this should be fixed

[2022-11-24 15:11] #695 closed, assigned to ljstella

[2022-11-24 15:11] P4T12ICK commented on #694
this should be fixed

[2022-11-24 15:11] #694 closed, assigned to ljstella

[2022-11-24 15:12] P4T12ICK commented on #698
this should be fixed

[2022-11-24 15:12] #698 closed, assigned to ljstella

[2022-11-24 15:26] P4T12ICK commented on #699
this should be fixed. Thank you for reporting it.

[2022-11-24 15:26] #699 closed, assigned to nobody

[2022-11-24 17:21] P4T12ICK commented on #696
this should be fixed.

[2022-11-24 17:21] #696 closed, assigned to nobody

[2022-11-25 11:27] #702 closed, assigned to P4T12ICK

[2022-11-25 11:27] #689 closed, assigned to nobody

[2022-11-25 12:36] P4T12ICK commented on #709
fixed by you. Thank you

[2022-11-25 12:36] #709 closed, assigned to nobody

[2022-11-25 15:37] P4T12ICK commented on #680
done

[2022-11-25 15:37] #680 closed, assigned to josehelps

[2022-11-25 15:37] P4T12ICK commented on #700
done

[2022-11-25 15:37] #700 closed, assigned to nobody

[2022-11-25 15:50] P4T12ICK commented on #706
this is done

[2022-11-25 15:50] #706 closed, assigned to nobody